{
  "log": {
    "_recordingName": "wd-link/render site link/with 1 site argument",
    "browser": {
      "name": "Chrome",
      "version": "81.0.4044.129"
    },
    "creator": {
      "comment": "persister:rest",
      "name": "Polly.JS",
      "version": "2.6.3"
    },
    "entries": [
      {
        "_id": "6d6c89f9f03b735279d62d2636d18df3",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "action",
              "value": "wbgetentities"
            },
            {
              "name": "ids",
              "value": "Q80"
            },
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "https://www.wikidata.org/w/api.php?action=wbgetentities&ids=Q80&format=json&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 146010,
            "text": "{\"entities\":{\"Q80\":{\"pageid\":139,\"ns\":0,\"title\":\"Q80\",\"lastrevid\":1170878333,\"modified\":\"2020-05-01T16:24:45Z\",\"type\":\"item\",\"id\":\"Q80\",\"labels\":{\"en\":{\"language\":\"en\",\"value\":\"Tim Berners-Lee\"},\"fr\":{\"language\":\"fr\",\"value\":\"Tim Berners-Lee\"},\"it\":{\"language\":\"it\",\"value\":\"Tim Berners-Lee\"},\"pl\":{\"language\":\"pl\",\"value\":\"Tim Berners-Lee\"},\"ca\":{\"language\":\"ca\",\"value\":\"Tim Berners-Lee\"},\"ilo\":{\"language\":\"ilo\",\"value\":\"Tim Berners-Lee\"},\"de\":{\"language\":\"de\",\"value\":\"Tim Berners-Lee\"},\"es\":{\"language\":\"es\",\"value\":\"Tim Berners-Lee\"},\"en-ca\":{\"language\":\"en-ca\",\"value\":\"Tim Berners-Lee\"},\"en-gb\":{\"language\":\"en-gb\",\"value\":\"Tim Berners-Lee\"},\"hr\":{\"language\":\"hr\",\"value\":\"Tim Berners-Lee\"},\"nl\":{\"language\":\"nl\",\"value\":\"Tim Berners-Lee\"},\"pt\":{\"language\":\"pt\",\"value\":\"Tim Berners-Lee\"},\"pt-br\":{\"language\":\"pt-br\",\"value\":\"Tim Berners-Lee\"},\"da\":{\"language\":\"da\",\"value\":\"Tim Berners-Lee\"},\"sv\":{\"language\":\"sv\",\"value\":\"Tim Berners-Lee\"},\"nn\":{\"language\":\"nn\",\"value\":\"Tim Berners-Lee\"},\"af\":{\"language\":\"af\",\"value\":\"Tim Berners-Lee\"},\"an\":{\"language\":\"an\",\"value\":\"Tim Berners-Lee\"},\"ar\":{\"language\":\"ar\",\"value\":\"\\u062a\\u064a\\u0645 \\u0628\\u064a\\u0631\\u0646\\u0631\\u0632 \\u0644\\u064a\"},\"arz\":{\"language\":\"arz\",\"value\":\"\\u062a\\u064a\\u0645 \\u0628\\u064a\\u0631\\u0646\\u0631\\u0632 \\u0644\\u0649\"},\"az\":{\"language\":\"az\",\"value\":\"Tim Berners-Li\"},\"be\":{\"language\":\"be\",\"value\":\"\\u0426\\u0456\\u043c \\u0411\\u0435\\u0440\\u043d\\u0435\\u0440\\u0441-\\u041b\\u0456\"},\"bg\":{\"language\":\"bg\",\"value\":\"\\u0422\\u0438\\u043c \\u0411\\u044a\\u0440\\u043d\\u044a\\u0440\\u0441-\\u041b\\u0438\\u0439\"},\"bn\":{\"language\":\"bn\",\"value\":\"\\u099f\\u09bf\\u09ae \\u09ac\\u09be\\u09b0\\u09cd\\u09a8\\u09be\\u09b0\\u09cd\\u09b8-\\u09b2\\u09bf\"},\"br\":{\"language\":\"br\",\"value\":\"Tim Berners-Lee\"},\"bs\":{\"language\":\"bs\",\"value\":\"Tim Berners-Lee\"},\"cs\":{\"language\":\"cs\",\"value\":\"Tim Berners-Lee\"},\"cy\":{\"language\":\"cy\",\"value\":\"Tim Berners-Lee\"},\"el\":{\"language\":\"el\",\"value\":\"\\u03a4\\u03b9\\u03bc \\u039c\\u03c0\\u03ad\\u03c1\\u03bd\\u03b5\\u03c1\\u03c2 \\u039b\\u03b9\"},\"eo\":{\"language\":\"eo\",\"value\":\"Tim Berners-Lee\"},\"et\":{\"language\":\"et\",\"value\":\"Tim Berners-Lee\"},\"eu\":{\"language\":\"eu\",\"value\":\"Tim Berners-Lee\"},\"fa\":{\"language\":\"fa\",\"value\":\"\\u062a\\u06cc\\u0645 \\u0628\\u0631\\u0646\\u0631\\u0632 \\u0644\\u06cc\"},\"fi\":{\"language\":\"fi\",\"value\":\"Tim Berners-Lee\"},\"fy\":{\"language\":\"fy\",\"value\":\"Tim Berners-Lee\"},\"ga\":{\"language\":\"ga\",\"value\":\"Tim Berners-Lee\"},\"gd\":{\"language\":\"gd\",\"value\":\"Tim Berners-Lee\"},\"gl\":{\"language\":\"gl\",\"value\":\"Tim Berners-Lee\"},\"he\":{\"language\":\"he\",\"value\":\"\\u05d8\\u05d9\\u05dd \\u05d1\\u05e8\\u05e0\\u05e8\\u05e1-\\u05dc\\u05d9\"},\"hi\":{\"language\":\"hi\",\"value\":\"\\u091f\\u093f\\u092e \\u092c\\u0930\\u094d\\u0928\\u0930\\u094d\\u0938 \\u0932\\u0940\"},\"hif\":{\"language\":\"hif\",\"value\":\"Tim Berners-Lee\"},\"hu\":{\"language\":\"hu\",\"value\":\"Tim Berners-Lee\"},\"id\":{\"language\":\"id\",\"value\":\"Tim Berners-Lee\"},\"is\":{\"language\":\"is\",\"value\":\"Tim Berners-Lee\"},\"ja\":{\"language\":\"ja\",\"value\":\"\\u30c6\\u30a3\\u30e0\\u30fb\\u30d0\\u30fc\\u30ca\\u30fc\\u30ba\\uff1d\\u30ea\\u30fc\"},\"jv\":{\"language\":\"jv\",\"value\":\"Tim Berners-Lee\"},\"ka\":{\"language\":\"ka\",\"value\":\"\\u10e2\\u10d8\\u10db \\u10d1\\u10d4\\u10e0\\u10dc\\u10d4\\u10e0\\u10e1-\\u10da\\u10d8\"},\"kk\":{\"language\":\"kk\",\"value\":\"\\u0422\\u0438\\u043c \\u0411\\u0435\\u0440\\u043d\\u0435\\u0440\\u0441-\\u041b\\u0438\"},\"kn\":{\"language\":\"kn\",\"value\":\"\\u0c9f\\u0cbf\\u0cae\\u0ccd \\u0cac\\u0cb0\\u0ccd\\u0ca8\\u0cb0\\u0ccd\\u0cb8\\u0ccd \\u0cb2\\u0cc0\"},\"ko\":{\"language\":\"ko\",\"value\":\"\\ud300 \\ubc84\\ub108\\uc2a4\\ub9ac\"},\"ksh\":{\"language\":\"ksh\",\"value\":\"Tim Berners-Lee\"},\"la\":{\"language\":\"la\",\"value\":\"Timotheus Ioannes Berners-Lee\"},\"lb\":{\"language\":\"lb\",\"value\":\"Tim Berners-Lee\"},\"li\":{\"language\":\"li\",\"value\":\"Tim Berners-Lee\"},\"lmo\":{\"language\":\"lmo\",\"value\":\"Tim Berners-Lee\"},\"lt\":{\"language\":\"lt\",\"value\":\"Tim Berners-Lee\"},\"lv\":{\"language\":\"lv\",\"value\":\"Tims B\\u0113rnerss-L\\u012b\"},\"mk\":{\"language\":\"mk\",\"value\":\"\\u0422\\u0438\\u043c \\u0411\\u0435\\u0440\\u043d\\u0435\\u0440\\u0441-\\u041b\\u0438\"},\"ml\":{\"language\":\"ml\",\"value\":\"\\u0d1f\\u0d3f\\u0d02 \\u0d2c\\u0d7c\\u0d23\\u0d47\\u0d2f\\u0d4d\\u0d38\\u0d4d \\u0d32\\u0d40\"},\"mn\":{\"language\":\"mn\",\"value\":\"\\u0422\\u0438\\u043c \\u0411\\u0435\\u0440\\u043d\\u0435\\u0440\\u0441-\\u041b\\u0438\"},\"ms\":{\"language\":\"ms\",\"value\":\"Tim Berners-Lee\"},\"mt\":{\"language\":\"mt\",\"value\":\"Tim Berners-Lee\"},\"new\":{\"language\":\"new\",\"value\":\"\\u091f\\u093f\\u092e \\u092c\\u0930\\u094d\\u0928\\u0930\\u094d\\u0938 \\u0932\\u0940\"},\"oc\":{\"language\":\"oc\",\"value\":\"Tim Berners-Lee\"},\"pnb\":{\"language\":\"pnb\",\"value\":\"\\u0679\\u0645 \\u0628\\u0631\\u0646\\u0631\\u0632 \\u0644\\u06cc\"},\"ro\":{\"language\":\"ro\",\"value\":\"Tim Berners-Lee\"},\"ru\":{\"language\":\"ru\",\"value\":\"\\u0422\\u0438\\u043c \\u0411\\u0435\\u0440\\u043d\\u0435\\u0440\\u0441-\\u041b\\u0438\"},\"rue\":{\"language\":\"rue\",\"value\":\"\\u0422\\u0456\\u043c \\u0411\\u0435\\u0440\\u043d\\u0435\\u0440\\u0441-\\u041b\\u0456\"},\"sah\":{\"language\":\"sah\",\"value\":\"\\u0422\\u0438\\u043c \\u0411\\u0435\\u0440\\u043d\\u0435\\u0440\\u0441-\\u041b\\u0438\"},\"scn\":{\"language\":\"scn\",\"value\":\"Tim Berners-Lee\"},\"sh\":{\"language\":\"sh\",\"value\":\"Tim Berners-Lee\"},\"sk\":{\"language\":\"sk\",\"value\":\"Tim Berners-Lee\"},\"sl\":{\"language\":\"sl\",\"value\":\"Tim Berners-Lee\"},\"sq\":{\"language\":\"sq\",\"value\":\"Tim Berners-Lee\"},\"sr\":{\"language\":\"sr\",\"value\":\"\\u0422\\u0438\\u043c \\u0411\\u0435\\u0440\\u043d\\u0435\\u0440\\u0441-\\u041b\\u0438\"},\"sw\":{\"language\":\"sw\",\"value\":\"Tim Berners-Lee\"},\"ta\":{\"language\":\"ta\",\"value\":\"\\u0b9f\\u0bbf\\u0bae\\u0bcd \\u0baa\\u0bc7\\u0bb0\\u0bcd\\u0ba9\\u0bc7\\u0bb0\\u0bcd\\u0bb8\\u0bcd-\\u0bb2\\u0bc0\"},\"te\":{\"language\":\"te\",\"value\":\"\\u0c1f\\u0c3f\\u0c2e\\u0c4d \\u0c2c\\u0c46\\u0c30\\u0c4d\\u0c28\\u0c30\\u0c4d\\u0c38\\u0c4d \\u0c32\\u0c40\"},\"tg\":{\"language\":\"tg\",\"value\":\"\\u0422\\u0438\\u043c \\u0411\\u0435\\u0440\\u043d\\u0435\\u0440\\u0441-\\u041b\\u0438\"},\"th\":{\"language\":\"th\",\"value\":\"\\u0e17\\u0e34\\u0e21 \\u0e40\\u0e1a\\u0e2d\\u0e23\\u0e4c\\u0e40\\u0e19\\u0e34\\u0e23\\u0e4c\\u0e2a-\\u0e25\\u0e35\"},\"tl\":{\"language\":\"tl\",\"value\":\"Tim Berners-Lee\"},\"tr\":{\"language\":\"tr\",\"value\":\"Tim Berners-Lee\"},\"uk\":{\"language\":\"uk\",\"value\":\"\\u0422\\u0456\\u043c \\u0411\\u0435\\u0440\\u043d\\u0435\\u0440\\u0441-\\u041b\\u0456\"},\"ur\":{\"language\":\"ur\",\"value\":\"\\u0679\\u0645 \\u0628\\u0631\\u0646\\u0631\\u0632 \\u0644\\u06cc\"},\"uz\":{\"language\":\"uz\",\"value\":\"Tim Berners-Lee\"},\"vec\":{\"language\":\"vec\",\"value\":\"Tim Berners-Lee\"},\"vi\":{\"language\":\"vi\",\"value\":\"Tim Berners-Lee\"},\"vo\":{\"language\":\"vo\",\"value\":\"Tim Berners-Lee\"},\"war\":{\"language\":\"war\",\"value\":\"Tim Berners-Lee\"},\"yi\":{\"language\":\"yi\",\"value\":\"\\u05d8\\u05d9\\u05dd \\u05d1\\u05e2\\u05e8\\u05e0\\u05e2\\u05e8\\u05e1-\\u05dc\\u05d9\"},\"yo\":{\"language\":\"yo\",\"value\":\"Tim Berners-Lee\"},\"za\":{\"language\":\"za\",\"value\":\"Tim Berners-Lee\"},\"zh\":{\"language\":\"zh\",\"value\":\"\\u63d0\\u59c6\\u00b7\\u67cf\\u7d0d-\\u674e\"},\"zh-cn\":{\"language\":\"zh-cn\",\"value\":\"\\u8482\\u59c6\\u00b7\\u4f2f\\u7eb3\\u65af-\\u674e\"},\"zh-tw\":{\"language\":\"zh-tw\",\"value\":\"\\u63d0\\u59c6\\u00b7\\u67cf\\u7d0d-\\u674e\"},\"zh-sg\":{\"language\":\"zh-sg\",\"value\":\"\\u8482\\u59c6\\u00b7\\u4f2f\\u7eb3\\u65af-\\u674e\"},\"zh-mo\":{\"language\":\"zh-mo\",\"value\":\"\\u63d0\\u59c6\\u00b7\\u67cf\\u7d0d-\\u674e\"},\"zh-hans\":{\"language\":\"zh-hans\",\"value\":\"\\u8482\\u59c6\\u00b7\\u4f2f\\u7eb3\\u65af-\\u674e\"},\"zh-hant\":{\"language\":\"zh-hant\",\"value\":\"\\u63d0\\u59c6\\u00b7\\u67cf\\u7d0d-\\u674e\"},\"zh-hk\":{\"language\":\"zh-hk\",\"value\":\"\\u63d0\\u59c6\\u00b7\\u67cf\\u7d0d-\\u674e\"},\"zh-my\":{\"language\":\"zh-my\",\"value\":\"\\u8482\\u59c6\\u00b7\\u4f2f\\u7eb3\\u65af-\\u674e\"},\"nb\":{\"language\":\"nb\",\"value\":\"Tim Berners-Lee\"},\"de-ch\":{\"language\":\"de-ch\",\"value\":\"Tim Berners-Lee\"},\"pms\":{\"language\":\"pms\",\"value\":\"Tim Berners-Lee\"},\"ce\":{\"language\":\"ce\",\"value\":\"\\u0411\\u0435\\u0440\\u043d\\u0435\\u0440\\u0441-\\u041b\\u0438, \\u0422\\u0438\\u043c\"},\"nds\":{\"language\":\"nds\",\"value\":\"Tim Berners-Lee\"},\"nds-nl\":{\"language\":\"nds-nl\",\"value\":\"Tim Berners-Lee\"},\"wa\":{\"language\":\"wa\",\"value\":\"Tim Berners-Lee\"},\"ckb\":{\"language\":\"ckb\",\"value\":\"\\u062a\\u06cc\\u0645 \\u0628\\u06ce\\u0631\\u0646\\u06d5\\u0631\\u0632 \\u0644\\u06cc\"},\"sco\":{\"language\":\"sco\",\"value\":\"Tim Berners-Lee\"},\"gsw\":{\"language\":\"gsw\",\"value\":\"Tim Berners-Lee\"},\"sgs\":{\"language\":\"sgs\",\"value\":\"Tim Berners-Lee\"},\"nan\":{\"language\":\"nan\",\"value\":\"Tim Berners-Lee\"},\"be-tarask\":{\"language\":\"be-tarask\",\"value\":\"\\u0422\\u044b\\u043c \\u0411\\u044d\\u0440\\u043d\\u044d\\u0440\\u0437-\\u041b\\u0456\"},\"tt\":{\"language\":\"tt\",\"value\":\"Tim Berners-Li\"},\"as\":{\"language\":\"as\",\"value\":\"\\u099f\\u09bf\\u09ae \\u09ac\\u09be\\u09f0\\u09cd\\u09a8\\u09be\\u09f0\\u09cd\\u099b \\u09b2\\u09c0\"},\"km\":{\"language\":\"km\",\"value\":\"\\u1794\\u17ca\\u17ba\\u178e\\u17ba\\u179f \\u179b\\u17b8\"},\"ast\":{\"language\":\"ast\",\"value\":\"Tim Berners-Lee\"},\"bar\":{\"language\":\"bar\",\"value\":\"Tim Berners-Lee\"},\"co\":{\"language\":\"co\",\"value\":\"Tim Berners-Lee\"},\"de-at\":{\"language\":\"de-at\",\"value\":\"Tim Berners-Lee\"},\"frp\":{\"language\":\"frp\",\"value\":\"Tim Berners-Lee\"},\"fur\":{\"language\":\"fur\",\"value\":\"Tim Berners-Lee\"},\"ia\":{\"language\":\"ia\",\"value\":\"Tim Berners-Lee\"},\"ie\":{\"language\":\"ie\",\"value\":\"Tim Berners-Lee\"},\"io\":{\"language\":\"io\",\"value\":\"Tim Berners-Lee\"},\"kg\":{\"language\":\"kg\",\"value\":\"Tim Berners-Lee\"},\"lij\":{\"language\":\"lij\",\"value\":\"Tim Berners-Lee\"},\"mg\":{\"language\":\"mg\",\"value\":\"Tim Berners-Lee\"},\"min\":{\"language\":\"min\",\"value\":\"Tim Berners-Lee\"},\"nap\":{\"language\":\"nap\",\"value\":\"Tim Berners-Lee\"},\"nrm\":{\"language\":\"nrm\",\"value\":\"Tim Berners-Lee\"},\"pcd\":{\"language\":\"pcd\",\"value\":\"Tim Berners-Lee\"},\"rm\":{\"language\":\"rm\",\"value\":\"Tim Berners-Lee\"},\"sc\":{\"language\":\"sc\",\"value\":\"Tim Berners-Lee\"},\"sr-el\":{\"language\":\"sr-el\",\"value\":\"Tim Berners-Lee\"},\"vls\":{\"language\":\"vls\",\"value\":\"Tim Berners-Lee\"},\"wo\":{\"language\":\"wo\",\"value\":\"Tim Berners-Lee\"},\"zu\":{\"language\":\"zu\",\"value\":\"Tim Berners-Lee\"},\"yue\":{\"language\":\"yue\",\"value\":\"\\u674e\\u67cf\\u7d0d\"},\"my\":{\"language\":\"my\",\"value\":\"\\u1010\\u1004\\u103a\\u1019\\u103a \\u1018\\u102c\\u1014\\u102c\\u101c\\u102e\"},\"ba\":{\"language\":\"ba\",\"value\":\"\\u0422\\u0438\\u043c \\u0411\\u0435\\u0440\\u043d\\u0435\\u0440\\u0441-\\u041b\\u0438\"},\"fo\":{\"language\":\"fo\",\"value\":\"Tim Berners-Lee\"},\"kl\":{\"language\":\"kl\",\"value\":\"Tim Berners-Lee\"},\"pa\":{\"language\":\"pa\",\"value\":\"\\u0a1f\\u0a3f\\u0a2e \\u0a2c\\u0a30\\u0a28\\u0a30\\u0a38-\\u0a32\\u0a40\"},\"ne\":{\"language\":\"ne\",\"value\":\"\\u091f\\u093f\\u092e \\u092c\\u0930\\u094d\\u0928\\u0930-\\u0932\\u0940\"},\"mai\":{\"language\":\"mai\",\"value\":\"\\u091f\\u093f\\u092e \\u092c\\u0930\\u094d\\u0928\\u0930\\u094d\\u0938 \\u0932\\u0940\"},\"hy\":{\"language\":\"hy\",\"value\":\"\\u0539\\u056b\\u0574 \\u0532\\u0565\\u0580\\u0576\\u0565\\u0580\\u057d \\u053c\\u056b\"},\"xmf\":{\"language\":\"xmf\",\"value\":\"\\u10e2\\u10d8\\u10db \\u10d1\\u10d4\\u10e0\\u10dc\\u10d4\\u10e0\\u10e1-\\u10da\\u10d8\"},\"am\":{\"language\":\"am\",\"value\":\"\\u1272\\u121d \\u1263\\u122d\\u1290\\u122d\\u1235 \\u120a\"},\"ext\":{\"language\":\"ext\",\"value\":\"Tim Berners-Lee\"},\"dty\":{\"language\":\"dty\",\"value\":\"\\u091f\\u093f\\u092e \\u092c\\u0930\\u094d\\u0928\\u0930\\u094d\\u0938 \\u0932\\u0940\"},\"azb\":{\"language\":\"azb\",\"value\":\"\\u062a\\u06cc\\u0645 \\u0628\\u0631\\u0646\\u0631\\u0632 \\u0644\\u06cc\"},\"mr\":{\"language\":\"mr\",\"value\":\"\\u091f\\u093f\\u092e \\u092c\\u0930\\u094d\\u0928\\u0930\\u094d\\u0938-\\u0932\\u0940\"},\"sr-ec\":{\"language\":\"sr-ec\",\"value\":\"\\u0422\\u0438\\u043c \\u0411\\u0435\\u0440\\u043d\\u0435\\u0440\\u0441-\\u041b\\u0438\"},\"hak\":{\"language\":\"hak\",\"value\":\"Tim Berners-Lee\"},\"tyv\":{\"language\":\"tyv\",\"value\":\"\\u0411\\u0435\\u0440\\u043d\\u0435\\u0440\\u0441-\\u041b\\u0438, \\u0422\\u0438\\u043c\"},\"ky\":{\"language\":\"ky\",\"value\":\"\\u0422\\u0438\\u043c \\u0411\\u0435\\u0440\\u043d\\u0435\\u0440\\u0441-\\u041b\\u0438\"},\"bho\":{\"language\":\"bho\",\"value\":\"\\u091f\\u093f\\u092e \\u092c\\u0930\\u094d\\u0928\\u0930\\u094d\\u0938-\\u0932\\u0940\"},\"sat\":{\"language\":\"sat\",\"value\":\"\\u1c74\\u1c64\\u1c62 \\u1c75\\u1c5a\\u1c68\\u1c71\\u1c5a\\u1c68\\u1c65-\\u1c5e\\u1c64\"},\"wuu\":{\"language\":\"wuu\",\"value\":\"\\u8482\\u59c6\\u00b7\\u4f2f\\u7eb3\\u65af-\\u674e\"},\"vep\":{\"language\":\"vep\",\"value\":\"Berners-Li Tim\"},\"frr\":{\"language\":\"frr\",\"value\":\"Tim Berners-Lee\"}},\"descriptions\":{\"en\":{\"language\":\"en\",\"value\":\"British computer scientist, inventor of the World Wide Web\"},\"it\":{\"language\":\"it\",\"value\":\"informatico britannico, inventore insieme a Robert Cailliau del World Wide Web\"},\"fr\":{\"language\":\"fr\",\"value\":\"informaticien anglais, principal inventeur du World Wide Web\"},\"ilo\":{\"language\":\"ilo\",\"value\":\"Britaniko a sientista ti kompiuter, inbentor ti World Wide Web\"},\"de\":{\"language\":\"de\",\"value\":\"britischer Informatiker[...]
