{
  "log": {
    "_recordingName": "wd-link/render site link/with external id property",
    "browser": {
      "name": "Chrome",
      "version": "81.0.4044.129"
    },
    "creator": {
      "comment": "persister:rest",
      "name": "Polly.JS",
      "version": "2.6.3"
    },
    "entries": [
      {
        "_id": "632c6f6fabad2c9efe4036b502c55ee0",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "action",
              "value": "wbgetentities"
            },
            {
              "name": "ids",
              "value": "P2002"
            },
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "https://www.wikidata.org/w/api.php?action=wbgetentities&ids=P2002&format=json&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 65297,
            "text": "{\"entities\":{\"P2002\":{\"pageid\":22470554,\"ns\":120,\"title\":\"Property:P2002\",\"lastrevid\":1169855833,\"modified\":\"2020-04-30T08:57:21Z\",\"type\":\"property\",\"datatype\":\"external-id\",\"id\":\"P2002\",\"labels\":{\"zh\":{\"language\":\"zh\",\"value\":\"\\u63a8\\u7279\\u7528\\u6237\\u540d\"},\"en\":{\"language\":\"en\",\"value\":\"Twitter username\"},\"ru\":{\"language\":\"ru\",\"value\":\"\\u0443\\u0447\\u0451\\u0442\\u043d\\u0430\\u044f \\u0437\\u0430\\u043f\\u0438\\u0441\\u044c \\u0432 \\u0422\\u0432\\u0438\\u0442\\u0442\\u0435\\u0440\\u0435\"},\"pt\":{\"language\":\"pt\",\"value\":\"nome do perfil no Twitter\"},\"nl\":{\"language\":\"nl\",\"value\":\"Twitter-gebruikersnaam\"},\"es\":{\"language\":\"es\",\"value\":\"nombre de usuario en Twitter\"},\"uk\":{\"language\":\"uk\",\"value\":\"\\u043e\\u0431\\u043b\\u0456\\u043a\\u043e\\u0432\\u0438\\u0439 \\u0437\\u0430\\u043f\\u0438\\u0441 \\u0443 \\u0422\\u0432\\u0456\\u0442\\u0442\\u0435\\u0440\\u0456\"},\"fr\":{\"language\":\"fr\",\"value\":\"identifiant Twitter d'un compte\"},\"el\":{\"language\":\"el\",\"value\":\"\\u03cc\\u03bd\\u03bf\\u03bc\\u03b1 \\u03c7\\u03c1\\u03ae\\u03c3\\u03c4\\u03b7 \\u03c3\\u03c4\\u03bf Twitter\"},\"it\":{\"language\":\"it\",\"value\":\"nome utente Twitter\"},\"sv\":{\"language\":\"sv\",\"value\":\"Twitterkonto\"},\"fi\":{\"language\":\"fi\",\"value\":\"Twitter-k\\u00e4ytt\\u00e4j\\u00e4nimi\"},\"nb\":{\"language\":\"nb\",\"value\":\"Twitter-konto\"},\"de\":{\"language\":\"de\",\"value\":\"Twitter-Benutzername\"},\"cs\":{\"language\":\"cs\",\"value\":\"jm\\u00e9no na Twitteru\"},\"hu\":{\"language\":\"hu\",\"value\":\"Twitter-felhaszn\\u00e1l\\u00f3n\\u00e9v\"},\"ca\":{\"language\":\"ca\",\"value\":\"nom d'usuari de Twitter\"},\"da\":{\"language\":\"da\",\"value\":\"Twitter-konto\"},\"an\":{\"language\":\"an\",\"value\":\"Twitter\"},\"ast\":{\"language\":\"ast\",\"value\":\"nome d'usuariu de Twitter\"},\"br\":{\"language\":\"br\",\"value\":\"Twitter\"},\"co\":{\"language\":\"co\",\"value\":\"Twitter\"},\"cy\":{\"language\":\"cy\",\"value\":\"enw defnyddiwr Twitter\"},\"de-at\":{\"language\":\"de-at\",\"value\":\"Twitter-Benutzername\"},\"de-ch\":{\"language\":\"de-ch\",\"value\":\"Twitter-Benutzername\"},\"en-ca\":{\"language\":\"en-ca\",\"value\":\"Twitter username\"},\"en-gb\":{\"language\":\"en-gb\",\"value\":\"Twitter username\"},\"eo\":{\"language\":\"eo\",\"value\":\"Twitter-uzantnomo\"},\"eu\":{\"language\":\"eu\",\"value\":\"Twitterreko erabiltzaile izena\"},\"gl\":{\"language\":\"gl\",\"value\":\"nome da conta de Twitter\"},\"ms\":{\"language\":\"ms\",\"value\":\"nama pengguna Twitter\"},\"nn\":{\"language\":\"nn\",\"value\":\"Twitter-brukarnamn\"},\"oc\":{\"language\":\"oc\",\"value\":\"compte Twitter\"},\"pl\":{\"language\":\"pl\",\"value\":\"nazwa u\\u017cytkownika na Twitterze\"},\"pt-br\":{\"language\":\"pt-br\",\"value\":\"nome de usu\\u00e1rio no Twitter\"},\"tr\":{\"language\":\"tr\",\"value\":\"Twitter kullan\\u0131c\\u0131 ad\\u0131\"},\"vi\":{\"language\":\"vi\",\"value\":\"t\\u00ean ng\\u01b0\\u1eddi d\\u00f9ng Twitter\"},\"sr\":{\"language\":\"sr\",\"value\":\"\\u0422\\u0432\\u0438\\u0442\\u0435\\u0440\"},\"ko\":{\"language\":\"ko\",\"value\":\"\\ud2b8\\uc704\\ud130 \\uacc4\\uc815\\uba85\"},\"be\":{\"language\":\"be\",\"value\":\"\\u0443\\u043b\\u0456\\u043a\\u043e\\u0432\\u044b \\u0437\\u0430\\u043f\\u0456\\u0441 \\u0443 \\u0422\\u0432\\u0456\\u0442\\u044d\\u0440\\u044b\"},\"ja\":{\"language\":\"ja\",\"value\":\"Twitter\\u306e\\u30e6\\u30fc\\u30b6\\u30fc\\u540d\"},\"he\":{\"language\":\"he\",\"value\":\"\\u05e9\\u05dd \\u05de\\u05e9\\u05ea\\u05de\\u05e9 \\u05d1\\u05d8\\u05d5\\u05d5\\u05d9\\u05d8\\u05e8\"},\"mk\":{\"language\":\"mk\",\"value\":\"\\u0438\\u043c\\u0435 \\u043d\\u0430 \\u0422\\u0432\\u0438\\u0442\\u0435\\u0440\"},\"be-tarask\":{\"language\":\"be-tarask\",\"value\":\"\\u0456\\u043c\\u044f \\u043a\\u0430\\u0440\\u044b\\u0441\\u0442\\u0430\\u043b\\u044c\\u043d\\u0456\\u043a\\u0430 \\u045e Twitter\"},\"th\":{\"language\":\"th\",\"value\":\"\\u0e1a\\u0e31\\u0e0d\\u0e0a\\u0e35\\u0e1c\\u0e39\\u0e49\\u0e43\\u0e0a\\u0e49\\u0e17\\u0e27\\u0e34\\u0e15\\u0e40\\u0e15\\u0e2d\\u0e23\\u0e4c\"},\"ar\":{\"language\":\"ar\",\"value\":\"\\u0627\\u0633\\u0645 \\u0627\\u0644\\u0645\\u0633\\u062a\\u062e\\u062f\\u0645 \\u0641\\u064a \\u062a\\u0648\\u064a\\u062a\\u0631\"},\"lv\":{\"language\":\"lv\",\"value\":\"Twitter lietot\\u0101jv\\u0101rds\"},\"zh-tw\":{\"language\":\"zh-tw\",\"value\":\"Twitter\\u4f7f\\u7528\\u8005\\u540d\\u7a31\"},\"zh-hant\":{\"language\":\"zh-hant\",\"value\":\"Twitter\\u4f7f\\u7528\\u8005\\u540d\\u7a31\"},\"lt\":{\"language\":\"lt\",\"value\":\"Twitter vartotojo vardas\"},\"bn\":{\"language\":\"bn\",\"value\":\"\\u099f\\u09c1\\u0987\\u099f\\u09be\\u09b0 \\u09ac\\u09cd\\u09af\\u09ac\\u09b9\\u09be\\u09b0\\u0995\\u09be\\u09b0\\u09c0 \\u09a8\\u09be\\u09ae\"},\"kn\":{\"language\":\"kn\",\"value\":\"\\u0c9f\\u0ccd\\u0cb5\\u0cbf\\u0c9f\\u0ccd\\u0c9f\\u0cb0\\u0ccd \\u0cb8\\u0ca6\\u0cb8\\u0ccd\\u0caf\\u0ca8\\u0cbe\\u0cae\"},\"ta\":{\"language\":\"ta\",\"value\":\"\\u0b9f\\u0bbf\\u0bb5\\u0bbf\\u0b9f\\u0bcd\\u0b9f\\u0bb0\\u0bcd \\u0baa\\u0baf\\u0ba9\\u0bb0\\u0bcd \\u0baa\\u0bc6\\u0baf\\u0bb0\\u0bcd\"},\"or\":{\"language\":\"or\",\"value\":\"\\u0b1f\\u0b4d\\u0b35\\u0b3f\\u0b1f\\u0b30 \\u0b2c\\u0b4d\\u0b5f\\u0b2c\\u0b39\\u0b3e\\u0b30\\u0b15\\u0b3e\\u0b30\\u0b40 \\u0b28\\u0b3e\\u0b2e\"},\"gu\":{\"language\":\"gu\",\"value\":\"\\u0a9f\\u0acd\\u0ab5\\u0ac0\\u0a9f\\u0ab0 \\u0aaf\\u0ac1\\u0a9d\\u0ab0\\u0aa8\\u0ac7\\u0a88\\u0aae\"},\"mr\":{\"language\":\"mr\",\"value\":\"\\u091f\\u094d\\u0935\\u093f\\u091f\\u0930 \\u0938\\u0926\\u0938\\u094d\\u092f \\u0928\\u093e\\u0935\"},\"hi\":{\"language\":\"hi\",\"value\":\"\\u091f\\u094d\\u0935\\u093f\\u091f\\u0930 \\u0938\\u0926\\u0938\\u094d\\u092f \\u0928\\u093e\\u092e\"},\"zh-hk\":{\"language\":\"zh-hk\",\"value\":\"Twitter\\u7528\\u6236\\u540d\"},\"yue\":{\"language\":\"yue\",\"value\":\"Twitter\\u5e33\\u865f\"},\"zh-hans\":{\"language\":\"zh-hans\",\"value\":\"Twitter\\u7528\\u6237\\u540d\"},\"ba\":{\"language\":\"ba\",\"value\":\"\\u0422\\u0432\\u0438\\u0442\\u0442\\u0435\\u0440\\u0499\\u0430 \\u0438\\u04ab\\u04d9\\u043f \\u044f\\u0499\\u044b\\u0443\\u044b\"},\"fa\":{\"language\":\"fa\",\"value\":\"\\u0646\\u0627\\u0645 \\u06a9\\u0627\\u0631\\u0628\\u0631\\u06cc \\u062f\\u0631 \\u062a\\u0648\\u06cc\\u06cc\\u062a\\u0631\"},\"ka\":{\"language\":\"ka\",\"value\":\"Twitter-\\u10d8\\u10e1 \\u10db\\u10dd\\u10db\\u10ee\\u10db\\u10d0\\u10e0\\u10d4\\u10d1\\u10da\\u10d8\\u10e1 \\u10e1\\u10d0\\u10ee\\u10d4\\u10da\\u10d8\"},\"fy\":{\"language\":\"fy\",\"value\":\"Twitter-br\\u00fbkersnamme\"},\"tg\":{\"language\":\"tg\",\"value\":\"\\u0434\\u0430\\u0440 \\u0422\\u0432\\u0438\\u0442\\u0442\\u0435\\u0440\"},\"zh-cn\":{\"language\":\"zh-cn\",\"value\":\"Twitter\\u7528\\u6237\\u540d\"},\"zh-sg\":{\"language\":\"zh-sg\",\"value\":\"Twitter\\u7528\\u6237\\u540d\"},\"zh-mo\":{\"language\":\"zh-mo\",\"value\":\"Twitter\\u7528\\u6236\\u540d\"},\"ne\":{\"language\":\"ne\",\"value\":\"\\u091f\\u094d\\u0935\\u093f\\u091f\\u0930 \\u092a\\u094d\\u0930\\u092f\\u094b\\u0917\\u0915\\u0930\\u094d\\u0924\\u093e \\u0928\\u093e\\u092e\"},\"ur\":{\"language\":\"ur\",\"value\":\"\\u0679\\u0648\\u06cc\\u0679\\u0631 \\u06cc\\u0648\\u0632\\u0631 \\u0646\\u06cc\\u0645\"},\"arz\":{\"language\":\"arz\",\"value\":\"\\u0627\\u0633\\u0645 \\u0627\\u0644\\u064a\\u0648\\u0632\\u0631 \\u0641\\u064a \\u062a\\u0648\\u064a\\u062a\\u0631\"},\"tl\":{\"language\":\"tl\",\"value\":\"pangalan ng tagagamit sa Twitter\"},\"bs\":{\"language\":\"bs\",\"value\":\"korisni\\u010dko ime na Twitteru\"},\"tt\":{\"language\":\"tt\",\"value\":\"\\u0422\\u0432\\u0438\\u0442\\u0442\\u0435\\u0440 \\u0445\\u0438\\u0441\\u0430\\u043f \\u044f\\u0437\\u043c\\u0430\\u0441\\u044b\"},\"tt-cyrl\":{\"language\":\"tt-cyrl\",\"value\":\"\\u0422\\u0432\\u0438\\u0442\\u0442\\u0435\\u0440 \\u0445\\u0438\\u0441\\u0430\\u043f \\u044f\\u0437\\u043c\\u0430\\u0441\\u044b\"},\"sq\":{\"language\":\"sq\",\"value\":\"emri n\\u00eb Twiter\"},\"id\":{\"language\":\"id\",\"value\":\"nama pengguna Twitter\"},\"sl\":{\"language\":\"sl\",\"value\":\"Twitter (uporabni\\u0161ko ime)\"},\"ro\":{\"language\":\"ro\",\"value\":\"nume de utilizator Twitter\"},\"ga\":{\"language\":\"ga\",\"value\":\"ainm \\u00fas\\u00e1ideora Twitter\"},\"ml\":{\"language\":\"ml\",\"value\":\"\\u0d1f\\u0d4d\\u0d35\\u0d3f\\u0d31\\u0d4d\\u0d31\\u0d7c \\u0d09\\u0d2a\\u0d2f\\u0d4b\\u0d15\\u0d4d\\u0d24\\u0d43\\u0d28\\u0d3e\\u0d2e\\u0d02\"},\"sco\":{\"language\":\"sco\",\"value\":\"Twitter uisername\"},\"et\":{\"language\":\"et\",\"value\":\"Twitteri kasutajakonto\"},\"ckb\":{\"language\":\"ckb\",\"value\":\"\\u06be\\u06d5\\u0698\\u0645\\u0627\\u0631\\u0646\\u0627\\u0648\\u06cc \\u062a\\u0648\\u06cc\\u062a\\u06d5\\u0631\"}},\"descriptions\":{\"en\":{\"language\":\"en\",\"value\":\"this item's username on Twitter; do not include the \\u201c@\\u201d symbol\"},\"ru\":{\"language\":\"ru\",\"value\":\"\\u0438\\u043c\\u044f \\u043f\\u043e\\u043b\\u044c\\u0437\\u043e\\u0432\\u0430\\u0442\\u0435\\u043b\\u044f \\u0432 \\u0441\\u043e\\u0446. \\u0441\\u0435\\u0442\\u0438 Twitter\"},\"nl\":{\"language\":\"nl\",\"value\":\"gebruikersnaam van deze entiteit op Twiter\"},\"es\":{\"language\":\"es\",\"value\":\"el nombre de usuario en Twitter\"},\"[...]
