{
  "log": {
    "_recordingName": "wd-link/wd-link render site link/use en lang",
    "browser": {
      "name": "Chrome",
      "version": "81.0.4044.122"
    },
    "creator": {
      "comment": "persister:rest",
      "name": "Polly.JS",
      "version": "2.6.3"
    },
    "entries": [
      {
        "_id": "646152958f2691baa37e92f980141fb1",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "action",
              "value": "wbgetentities"
            },
            {
              "name": "ids",
              "value": "Q14623678"
            },
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "https://www.wikidata.org/w/api.php?action=wbgetentities&ids=Q14623678&format=json&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 10681,
            "text": "{\"entities\":{\"Q14623678\":{\"pageid\":16296996,\"ns\":0,\"title\":\"Q14623678\",\"lastrevid\":1150655561,\"modified\":\"2020-04-05T14:10:42Z\",\"type\":\"item\",\"id\":\"Q14623678\",\"labels\":{\"en\":{\"language\":\"en\",\"value\":\"Janet Adams\"},\"fr\":{\"language\":\"fr\",\"value\":\"Janet Adams\"},\"pt\":{\"language\":\"pt\",\"value\":\"Janet Adams\"},\"af\":{\"language\":\"af\",\"value\":\"Janet Adams\"},\"an\":{\"language\":\"an\",\"value\":\"Janet Adams\"},\"br\":{\"language\":\"br\",\"value\":\"Janet Adams\"},\"bs\":{\"language\":\"bs\",\"value\":\"Janet Adams\"},\"ca\":{\"language\":\"ca\",\"value\":\"Janet Adams\"},\"ceb\":{\"language\":\"ceb\",\"value\":\"Janet Adams\"},\"cs\":{\"language\":\"cs\",\"value\":\"Janet Adams\"},\"cy\":{\"language\":\"cy\",\"value\":\"Janet Adams\"},\"da\":{\"language\":\"da\",\"value\":\"Janet Adams\"},\"de\":{\"language\":\"de\",\"value\":\"Janet Adams\"},\"eo\":{\"language\":\"eo\",\"value\":\"Janet Adams\"},\"es\":{\"language\":\"es\",\"value\":\"Janet Adams\"},\"et\":{\"language\":\"et\",\"value\":\"Janet Adams\"},\"eu\":{\"language\":\"eu\",\"value\":\"Janet Adams\"},\"fi\":{\"language\":\"fi\",\"value\":\"Janet Adams\"},\"ga\":{\"language\":\"ga\",\"value\":\"Janet Adams\"},\"gl\":{\"language\":\"gl\",\"value\":\"Janet Adams\"},\"hr\":{\"language\":\"hr\",\"value\":\"Janet Adams\"},\"hu\":{\"language\":\"hu\",\"value\":\"Janet Adams\"},\"is\":{\"language\":\"is\",\"value\":\"Janet Adams\"},\"it\":{\"language\":\"it\",\"value\":\"Janet Adams\"},\"lb\":{\"language\":\"lb\",\"value\":\"Janet Adams\"},\"lmo\":{\"language\":\"lmo\",\"value\":\"Janet Adams\"},\"lt\":{\"language\":\"lt\",\"value\":\"Janet Adams\"},\"nds\":{\"language\":\"nds\",\"value\":\"Janet Adams\"},\"nds-nl\":{\"language\":\"nds-nl\",\"value\":\"Janet Adams\"},\"nl\":{\"language\":\"nl\",\"value\":\"Janet Adams\"},\"nn\":{\"language\":\"nn\",\"value\":\"Janet Adams\"},\"pl\":{\"language\":\"pl\",\"value\":\"Janet Adams\"},\"pms\":{\"language\":\"pms\",\"value\":\"Janet Adams\"},\"ro\":{\"language\":\"ro\",\"value\":\"Janet Adams\"},\"sk\":{\"language\":\"sk\",\"value\":\"Janet Adams\"},\"sl\":{\"language\":\"sl\",\"value\":\"Janet Adams\"},\"sq\":{\"language\":\"sq\",\"value\":\"Janet Adams\"},\"sv\":{\"language\":\"sv\",\"value\":\"Janet Adams\"},\"tr\":{\"language\":\"tr\",\"value\":\"Janet Adams\"},\"vec\":{\"language\":\"vec\",\"value\":\"Janet Adams\"},\"wa\":{\"language\":\"wa\",\"value\":\"Janet Adams\"},\"el\":{\"language\":\"el\",\"value\":\"\\u03a4\\u03b6\\u03ac\\u03bd\\u03b5\\u03c4 \\u0386\\u03bd\\u03c4\\u03b1\\u03bc\\u03c2\"},\"nb\":{\"language\":\"nb\",\"value\":\"Janet Adams\"},\"gsw\":{\"language\":\"gsw\",\"value\":\"Janet Adams\"},\"sco\":{\"language\":\"sco\",\"value\":\"Janet Adams\"},\"mk\":{\"language\":\"mk\",\"value\":\"\\u040f\\u0435\\u043d\\u0435\\u0442 \\u0410\\u0434\\u0430\\u043c\\u0441\"},\"te\":{\"language\":\"te\",\"value\":\"\\u0c1c\\u0c3e\\u0c28\\u0c46\\u0c1f\\u0c4d \\u0c06\\u0c21\\u0c2e\\u0c4d\\u0c38\\u0c4d\"},\"be-tarask\":{\"language\":\"be-tarask\",\"value\":\"\\u0416\\u0430\\u043d\\u044d\\u0442 \\u0410\\u0434\\u0430\\u043c\\u0437\"},\"hy\":{\"language\":\"hy\",\"value\":\"\\u054b\\u0565\\u0576\\u0565\\u0569 \\u0531\\u0564\\u0561\\u0574\\u057d\"},\"ru\":{\"language\":\"ru\",\"value\":\"\\u0414\\u0436\\u0430\\u043d\\u0435\\u0442 \\u0410\\u0434\\u0430\\u043c\\u0441\"},\"kn\":{\"language\":\"kn\",\"value\":\"\\u0c9c\\u0cbe\\u0ca8\\u0cc6\\u0c9f\\u0ccd \\u0c86\\u0ca1\\u0cae\\u0ccd\\u0cb8\\u0ccd\"},\"en-gb\":{\"language\":\"en-gb\",\"value\":\"Janet Adams\"},\"be\":{\"language\":\"be\",\"value\":\"\\u0414\\u0436\\u0430\\u043d\\u0435\\u0442 \\u0410\\u0434\\u0430\\u043c\\u0441\"},\"ar\":{\"language\":\"ar\",\"value\":\"\\u062c\\u0627\\u0646\\u064a\\u062a \\u0622\\u062f\\u0645\\u0632\"},\"he\":{\"language\":\"he\",\"value\":\"\\u05d2'\\u05d0\\u05e0\\u05d8 \\u05d0\\u05d3\\u05de\\u05e1\"},\"zh\":{\"language\":\"zh\",\"value\":\"\\u73cd\\u59ae\\u7279\\u00b7\\u4e9a\\u5f53\\u65af\"},\"ast\":{\"language\":\"ast\",\"value\":\"Janet Adams\"}},\"descriptions\":{\"en\":{\"language\":\"en\",\"value\":\"mother of sci-fi author Douglas Adams\"},\"el\":{\"language\":\"el\",\"value\":\"\\u03bc\\u03b7\\u03c4\\u03ad\\u03c1\\u03b1 \\u03c4\\u03bf\\u03c5 \\u03c3\\u03c5\\u03b3\\u03b3\\u03c1\\u03b1\\u03c6\\u03ad\\u03b1 \\u039d\\u03c4\\u03ac\\u03b3\\u03ba\\u03bb\\u03b1\\u03c2 \\u0386\\u03bd\\u03c4\\u03b1\\u03bc\\u03c2\"},\"fr\":{\"language\":\"fr\",\"value\":\"m\\u00e8re de l'\\u00e9crivain de science-fiction Douglas Adams\"},\"mk\":{\"language\":\"mk\",\"value\":\"\\u043c\\u0430\\u0458\\u043a\\u0430 \\u043d\\u0430 \\u043f\\u0438\\u0441\\u0430\\u0442\\u0435\\u043b\\u043e\\u0442 \\u0414\\u0430\\u0433\\u043b\\u0430\\u0441 \\u0410\\u0434\\u0430\\u043c\\u0441\"},\"kn\":{\"language\":\"kn\",\"value\":\"\\u0c85\\u0cb5\\u0cb3\\u0cc1 \\u0cb5\\u0cc8\\u0c9c\\u0ccd\\u0c9e\\u0cbe\\u0ca8\\u0cbf\\u0c95 \\u0cb2\\u0cc7\\u0c96\\u0c95 \\u0ca1\\u0cca\\u0c97\\u0ccd\\u0cb2\\u0cbe\\u0cb8\\u0ccd \\u0c86\\u0ca1\\u0cae\\u0ccd\\u0cb8\\u0ccd\\u0ca8 \\u0ca4\\u0cbe\\u0caf\\u0cbf\"},\"he\":{\"language\":\"he\",\"value\":\"\\u05d0\\u05d9\\u05de\\u05d5 \\u05e9\\u05dc \\u05d4\\u05e1\\u05d5\\u05e4\\u05e8 \\u05d3\\u05d0\\u05d2\\u05dc\\u05e1 \\u05d0\\u05d3\\u05de\\u05e1\"},\"zh\":{\"language\":\"zh\",\"value\":\"\\u79d1\\u5e7b\\u4f5c\\u5bb6\\u9053\\u683c\\u62c9\\u65af\\u00b7\\u4e9a\\u5f53\\u65af\\u7684\\u6bcd\\u4eb2\"}},\"aliases\":{\"en\":[{\"language\":\"en\",\"value\":\"Janet Donovan\"}]},\"claims\":{\"P21\":[{\"mainsnak\":{\"snaktype\":\"value\",\"property\":\"P21\",\"hash\":\"5760796ff6ebc63aae12cdcbf509b07ebf0bd201\",\"datavalue\":{\"value\":{\"entity-type\":\"item\",\"numeric-id\":6581072,\"id\":\"Q6581072\"},\"type\":\"wikibase-entityid\"},\"datatype\":\"wikibase-item\"},\"type\":\"statement\",\"id\":\"q14623678$addfd001-4dd8-a6e4-f589-aecb7af72635\",\"rank\":\"normal\"}],\"P40\":[{\"mainsnak\":{\"snaktype\":\"value\",\"property\":\"P40\",\"hash\":\"daa37992c0ee9cde61592b3c4791de3b27367847\",\"datavalue\":{\"value\":{\"entity-type\":\"item\",\"numeric-id\":42,\"id\":\"Q42\"},\"type\":\"wikibase-entityid\"},\"datatype\":\"wikibase-item\"},\"type\":\"statement\",\"id\":\"q14623678$4ce6c4bc-402c-6c6d-4457-58e4d3a6dd1e\",\"rank\":\"normal\"},{\"mainsnak\":{\"snaktype\":\"value\",\"property\":\"P40\",\"hash\":\"b49db00060a52e219af17c716c71957e6829f9d7\",\"datavalue\":{\"value\":{\"entity-type\":\"item\",\"numeric-id\":14623673,\"id\":\"Q14623673\"},\"type\":\"wikibase-entityid\"},\"datatype\":\"wikibase-item\"},\"type\":\"statement\",\"id\":\"q14623678$20f0a018-499e-11cb-3f93-1b821c978100\",\"rank\":\"normal\"}],\"P26\":[{\"mainsnak\":{\"snaktype\":\"value\",\"property\":\"P26\",\"hash\":\"1f1f94fa431d4ffd015d3b48d8d7beb0f1ae3f00\",\"datavalue\":{\"value\":{\"entity-type\":\"item\",\"numeric-id\":14623675,\"id\":\"Q14623675\"},\"type\":\"wikibase-entityid\"},\"datatype\":\"wikibase-item\"},\"type\":\"statement\",\"id\":\"q14623678$181db33b-4978-751c-b4a6-5944eeb15234\",\"rank\":\"normal\"}],\"P31\":[{\"mainsnak\":{\"snaktype\":\"value\",\"property\":\"P31\",\"hash\":\"ad7d38a03cdd40cdc373de0dc4e7b7fcbccb31d9\",\"datavalue\":{\"value\":{\"entity-type\":\"item\",\"numeric-id\":5,\"id\":\"Q5\"},\"type\":\"wikibase-entityid\"},\"datatype\":\"wikibase-item\"},\"type\":\"statement\",\"id\":\"Q14623678$6e9c478b-4b54-f0cd-2a2d-8f4316fda3c5\",\"rank\":\"normal\"}],\"P735\":[{\"mainsnak\":{\"snaktype\":\"value\",\"property\":\"P735\",\"hash\":\"aae1f9ee671e316400d51822ebde83d247caf7fc\",\"datavalue\":{\"value\":{\"entity-type\":\"item\",\"numeric-id\":13553631,\"id\":\"Q13553631\"},\"type\":\"wikibase-entityid\"},\"datatype\":\"wikibase-item\"},\"type\":\"statement\",\"id\":\"Q14623678$896A7307-0D01-485D-AC9A-312F80629E2B\",\"rank\":\"normal\"}],\"P1477\":[{\"mainsnak\":{\"snaktype\":\"value\",\"property\":\"P1477\",\"hash\":\"60a93fd0af01f6291dd5641ae4b41212e7c50af8\",\"datavalue\":{\"value\":{\"text\":\"Janet Dora Donovan\",\"language\":\"und\"},\"type\":\"monolingualtext\"},\"datatype\":\"monolingualtext\"},\"type\":\"statement\",\"id\":\"Q14623678$E225A039-6E9D-4636-A273-3E60325D5767\",\"rank\":\"normal\",\"references\":[{\"hash\":\"cde7fcd1ca2fbd7520d297e61c4712c8ac959fee\",\"snaks\":{\"P854\":[{\"snaktype\":\"value\",\"property\":\"P854\",\"hash\":\"17551423b61faa621344450653a121d164c4b327\",\"datavalue\":{\"value\":\"http://www.douglasadams.se/biography/\",\"type\":\"string\"},\"datatype\":\"url\"}],\"P407\":[{\"snaktype\":\"value\",\"property\":\"P407\",\"hash\":\"daf1c4fcb58181b02dff9cc89deb084004ddae4b\",\"datavalue\":{\"value\":{\"entity-type\":\"item\",\"numeric-id\":1860,\"id\":\"Q1860\"},\"type\":\"wikibase-entityid\"},\"datatype\":\"wikibase-item\"}],\"P813\":[{\"snaktype\":\"value\",\"property\":\"P813\",\"hash\":\"6b8fcfa6afb3911fecec93ae1dff2b6b6cde5659\",\"datavalue\":{\"value\":{\"time\":\"+2013-12-07T00:00:00Z\",\"timezone\":0,\"before\":0,\"after\":0,\"precision\":11,\"calendarmodel\":\"http://www.wikidata.org/entity/Q1985727\"},\"type\":\"time\"},\"datatype\":\"time\"}],\"P1476\":[{\"snaktype\":\"value\",\"property\":\"P1476\",\"hash\":\"f6cf2f17ab2c1a3ea430af0d9e6c4f7c844a2cb4\",\"datavalue\":{\"value\":{\"text\":\"Douglas Adams Biography\",\"language\":\"en\"},\"type\":\"monolingualtext\"},\"datatype\":\"monolingualtext\"}],\"P1065\":[{\"snaktype\":\"value\",\"property\":\"P1065\",\"hash\":\"13b9eb7d9f95e5420beef65acc738f511fc822ec\",\"datavalue\":{\"value\":\"https://web.archive.org/web/20051221120252/http://www.douglasadams.se/biography/\",\"type\":\"string\"},\"datatype\":\"url\"}],\"P2960\":[{\"snaktype\":\"value\",\"property\":\"P2960\",\"hash\":\"290f59e5c99a27c5297ea33f0271cf4b30dcdeb6\",\"datavalue\":{\"value\":{\"time\":\"+2005-12-21T00:00:00Z\",\"timezone\":0,\"before\":0,\"after\":0,\"precision\":11,\"calendarmodel\":\"http://www.wikidata.org/entity/Q1985727\"},\"type\":\"time\"},\"datatype\":\"time\"}]},\"snaks-order\":[\"P854\",\"P407\",\"P813\",\"P1476\",\"P1065\",\"P2960\"]},{\"hash\":\"9177d75c6061e9e1ab149c0aa01bee5a90e07415\",\"snaks\":{\"P854\":[{\"snaktype\":\"value\",\"property\":\"P854\",\"hash\":\"db25e2819537870d0ef893d382ef7c400f4ec4d3\",\"datavalue\":{\"value\":\"http://www.nndb.com/people/731/000023662/\",\"type\":\"string\"},\"datatype\":\"url\"}],\"P813\":[{\"snaktype\":\"value\",\"property\":\"P813\",\"hash\":\"6b8fcfa6afb3911fecec93ae1dff2b6b6cde5659\",\"datavalue\":{\"value\":{\"time\":\"+2013-12-07T00:00:00Z\",\"timezone\":0,\"before\":0,\"after\":0,\"precision\":11,\"calendarmodel\":\"http://www.wikidata.org/entity/Q1985727\"},\"type\":\"time\"},\"datatype\":\"time\"}],\"P123\":[{\"snaktype\":\"value\",\"property\":\"P123\",\"hash\":\"201f20dc608f8134f4b320df3cc273babfbb2284\",\"datavalue\":{\"value\":{\"entity-type\":\"item\",\"numeric-id\":1373513,\"id\":\"Q1373513\"},\"type\":\"wikibase-entityid\"},\"datatype\":\"wikibase-item\"}],\"P407\":[{\"snaktype\":\"value\",\"property\":\"P407\",\"hash\":\"daf1c4fcb58181b02dff9cc89deb084004ddae4b\",\"datavalue\":{\"value\":{\"entity-type\":\"item\",\"numeric-id\":1860,\"id\":\"Q1860\"},\"type\":\"wikibase-entityid\"},\"datatype\":\"wikibase-item\"}],\"P1476\":[{\"snaktype\":\"value\",\"property\":\"P1476\",\"hash\":\"3efff2f94d96938bcfa1c19a34a4fa41de7be644\",\"datavalue\":{\"value\":{\"text\":\"Douglas Adams\",\"language\":\"en\"},\"type\":\"monolingualtext\"},\"datatype\":\"monolingualtext\"}]},\"snaks-order\":[\"P854\",\"P813\",\"P123\",\"P407\",\"P1476\"]}]}],\"P734\":[{\"mainsnak\":{\"snaktype\":\"value\",\"property\":\"P734\",\"hash\":\"b421edc57d660e9be8eb719ee6f927f848281fcc\",\"datavalue\":{\"value\":{\"entity-type\":\"item\",\"numeric-id\":351735,\"id\":\"Q351735\"},\"type\":\"wikibase-entityid\"},\"datatype\":\"wikibase-item\"},\"type\":\"statement\",\"id\":\"Q14623678$13CDA476-664B-44A0-825F-3485CA0E467F\",\"rank\":\"normal\"}],\"P2949\":[{\"mainsnak\":{\"snaktype\":\"value\",\"property\":\"P2949\",\"hash\":\"f700b3a6c2cfe62abbd902a0919004f873d36da3\",\"datavalue\":{\"value\":\"Donovan-2016\",\"type\":\"string\"},\"datatype\":\"external-id\"},\"type\":\"statement\",\"id\":\"Q14623678$0B4AD788-5523-41E4-8B67-20FC240B37E3\",\"rank\":\"normal\"}],\"P2889\":[{\"mainsnak\":{\"snaktype\":\"value\",\"property\":\"P2889\",\"hash\":\"1dd55c37e002fca2c34383688e04126c51d82d7d\",\"datavalue\":{\"value\":\"L21R-TW2\",\"type\":\"string\"},\"datatype\":\"external-id\"},\"type\":\"statement\",\"id\":\"Q14623678$0f748f5a-4434-0334-9716-8bddae176699\",\"rank\":\"normal\"}]},\"sitelinks\":{}}},\"success\":1}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "mediawiki-login-suppressed",
              "value": "true"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 288,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
