{
  "log": {
    "_recordingName": "wd-entity/wd-entity render description /can render when have a description attribute",
    "browser": {
      "name": "Chrome",
      "version": "76.0.3809.132"
    },
    "creator": {
      "comment": "persister:rest",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "f1e0393bad01ab608b49f421dd1ec4e3",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "action",
              "value": "wbgetentities"
            },
            {
              "name": "ids",
              "value": "Q180727"
            },
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "languages",
              "value": "en"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "https://www.wikidata.org/w/api.php?action=wbgetentities&ids=Q180727&format=json&languages=en&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 105436,
            "text": "{\"entities\":{\"Q180727\":{\"pageid\":179948,\"ns\":0,\"title\":\"Q180727\",\"lastrevid\":1012945018,\"modified\":\"2019-09-13T19:28:20Z\",\"type\":\"item\",\"id\":\"Q180727\",\"labels\":{\"en\":{\"language\":\"en\",\"value\":\"John Cage\"}},\"descriptions\":{\"en\":{\"language\":\"en\",\"value\":\"American avant-garde composer\"}},\"aliases\":{\"en\":[{\"language\":\"en\",\"value\":\"John Milton Cage Jr.\"},{\"language\":\"en\",\"value\":\"J. C.\"},{\"language\":\"en\",\"value\":\"Jon K\\u0113ji\"},{\"language\":\"en\",\"value\":\"Dzhon Ke\\u012ddzh\"},{\"language\":\"en\",\"value\":\"John Milton Cage, Jr.\"},{\"language\":\"en\",\"value\":\"John Milton, Jr. Cage\"}]},\"claims\":{\"P691\":[{\"mainsnak\":{\"snaktype\":\"value\",\"property\":\"P691\",\"hash\":\"7ad82bcb4b56461e4fb37da65fe23c6348409ab6\",\"datavalue\":{\"value\":\"jn19990001290\",\"type\":\"string\"},\"datatype\":\"external-id\"},\"type\":\"statement\",\"id\":\"Q180727$F418B5C5-C143-4C71-ABED-E2D25465D836\",\"rank\":\"normal\"}],\"P21\":[{\"mainsnak\":{\"snaktype\":\"value\",\"property\":\"P21\",\"hash\":\"85ad4b1c7348f7a5aac521135040d74e91fb5939\",\"datavalue\":{\"value\":{\"entity-type\":\"item\",\"numeric-id\":6581097,\"id\":\"Q6581097\"},\"type\":\"wikibase-entityid\"},\"datatype\":\"wikibase-item\"},\"type\":\"statement\",\"id\":\"q180727$9B888F38-7657-44E9-B07E-F05936A137B2\",\"rank\":\"normal\",\"references\":[{\"hash\":\"bd49d3e4f67bc460ce7a06b6ac3027347cf5ee55\",\"snaks\":{\"P143\":[{\"snaktype\":\"value\",\"property\":\"P143\",\"hash\":\"e84b0343e79e2a9aa8abadd7301051e15fba52d6\",\"datavalue\":{\"value\":{\"entity-type\":\"item\",\"numeric-id\":169514,\"id\":\"Q169514\"},\"type\":\"wikibase-entityid\"},\"datatype\":\"wikibase-item\"}]},\"snaks-order\":[\"P143\"]},{\"hash\":\"d5847b9b6032aa8b13dae3c2dfd9ed5d114d21b3\",\"snaks\":{\"P143\":[{\"snaktype\":\"value\",\"property\":\"P143\",\"hash\":\"5a343e7e758a4282a01316d3e959b6e653b767fc\",\"datavalue\":{\"value\":{\"entity-type\":\"item\",\"numeric-id\":11920,\"id\":\"Q11920\"},\"type\":\"wikibase-entityid\"},\"datatype\":\"wikibase-item\"}]},\"snaks-order\":[\"P143\"]},{\"hash\":\"e3f7e60fd57a19a620f403bcf0bc3c7519ed92fc\",\"snaks\":{\"P248\":[{\"snaktype\":\"value\",\"property\":\"P248\",\"hash\":\"019a50b7de741e0068bde41c9d9955b22a5de47b\",\"datavalue\":{\"value\":{\"entity-type\":\"item\",\"numeric-id\":36578,\"id\":\"Q36578\"},\"type\":\"wikibase-entityid\"},\"datatype\":\"wikibase-item\"}],\"P813\":[{\"snaktype\":\"value\",\"property\":\"P813\",\"hash\":\"020d3de54b3287007b308fa6c48e427383310d00\",\"datavalue\":{\"value\":{\"time\":\"+2014-04-27T00:00:00Z\",\"timezone\":0,\"before\":0,\"after\":0,\"precision\":11,\"calendarmodel\":\"http://www.wikidata.org/entity/Q1985727\"},\"type\":\"time\"},\"datatype\":\"time\"}]},\"snaks-order\":[\"P248\",\"P813\"]},{\"hash\":\"709a742f55b8bd24a3900ae5687ae275adce5365\",\"snaks\":{\"P248\":[{\"snaktype\":\"value\",\"property\":\"P248\",\"hash\":\"def9f19d84b65167a2a17ce38364d264c16127fc\",\"datavalue\":{\"value\":{\"entity-type\":\"item\",\"numeric-id\":19938912,\"id\":\"Q19938912\"},\"type\":\"wikibase-entityid\"},\"datatype\":\"wikibase-item\"}],\"P813\":[{\"snaktype\":\"value\",\"property\":\"P813\",\"hash\":\"d6162a1716489623c6e595e448b17f8dca4fb2e8\",\"datavalue\":{\"value\":{\"time\":\"+2015-10-10T00:00:00Z\",\"timezone\":0,\"before\":0,\"after\":0,\"precision\":11,\"calendarmodel\":\"http://www.wikidata.org/entity/Q1985727\"},\"type\":\"time\"},\"datatype\":\"time\"}],\"P854\":[{\"snaktype\":\"value\",\"property\":\"P854\",\"hash\":\"f6c04de25650ff87e33ca5c7b952d1d88691f152\",\"datavalue\":{\"value\":\"http://data.bnf.fr/ark:/12148/cb138920636\",\"type\":\"string\"},\"datatype\":\"url\"}]},\"snaks-order\":[\"P248\",\"P813\",\"P854\"]}]}],\"P214\":[{\"mainsnak\":{\"snaktype\":\"value\",\"property\":\"P214\",\"hash\":\"e7967f4c52ce65d9de950cb609658cabd7f6ba8d\",\"datavalue\":{\"value\":\"71577292\",\"type\":\"string\"},\"datatype\":\"external-id\"},\"type\":\"statement\",\"id\":\"q180727$AD3640A8-20F1-41E0-9317-33D694F9AB3B\",\"rank\":\"normal\",\"references\":[{\"hash\":\"fa278ebfc458360e5aed63d5058cca83c46134f1\",\"snaks\":{\"P143\":[{\"snaktype\":\"value\",\"property\":\"P143\",\"hash\":\"e4f6d9441d0600513c4533c672b5ab472dc73694\",\"datavalue\":{\"value\":{\"entity-type\":\"item\",\"numeric-id\":328,\"id\":\"Q328\"},\"type\":\"wikibase-entityid\"},\"datatype\":\"wikibase-item\"}]},\"snaks-order\":[\"P143\"]},{\"hash\":\"9a24f7c0208b05d6be97077d855671d1dfdbc0dd\",\"snaks\":{\"P143\":[{\"snaktype\":\"value\",\"property\":\"P143\",\"hash\":\"d38375ffe6fe142663ff55cd783aa4df4301d83d\",\"datavalue\":{\"value\":{\"entity-type\":\"item\",\"numeric-id\":48183,\"id\":\"Q48183\"},\"type\":\"wikibase-entityid\"},\"datatype\":\"wikibase-item\"}]},\"snaks-order\":[\"P143\"]}]}],\"P213\":[{\"mainsnak\":{\"snaktype\":\"value\",\"property\":\"P213\",\"hash\":\"5b1baad18fbe27bf474844ffa8ab2c6433d8049e\",\"datavalue\":{\"value\":\"0000 0001 2102 2741\",\"type\":\"string\"},\"datatype\":\"external-id\"},\"type\":\"statement\",\"id\":\"q180727$845490B7-08DA-4FBC-9313-3C675B486311\",\"rank\":\"normal\",\"references\":[{\"hash\":\"fbc824608bf047fcbfb803c1b0f98e66f4372207\",\"snaks\":{\"P248\":[{\"snaktype\":\"value\",\"property\":\"P248\",\"hash\":\"a376d605be64acdd4ac7934925ba96e276de7eac\",\"datavalue\":{\"value\":{\"entity-type\":\"item\",\"numeric-id\":423048,\"id\":\"Q423048\"},\"type\":\"wikibase-entityid\"},\"datatype\":\"wikibase-item\"}]},\"snaks-order\":[\"P248\"]}]}],\"P373\":[{\"mainsnak\":{\"snaktype\":\"value\",\"property\":\"P373\",\"hash\":\"5f040f9b4e259707b66e2658517edb1230bfc52f\",\"datavalue\":{\"value\":\"John Cage\",\"type\":\"string\"},\"datatype\":\"string\"},\"type\":\"statement\",\"id\":\"q180727$5A3E0BB4-73D3-4A3A-B85D-0232799C621A\",\"rank\":\"normal\",\"references\":[{\"hash\":\"9a24f7c0208b05d6be97077d855671d1dfdbc0dd\",\"snaks\":{\"P143\":[{\"snaktype\":\"value\",\"property\":\"P143\",\"hash\":\"d38375ffe6fe142663ff55cd783aa4df4301d83d\",\"datavalue\":{\"value\":{\"entity-type\":\"item\",\"numeric-id\":48183,\"id\":\"Q48183\"},\"type\":\"wikibase-entityid\"},\"datatype\":\"wikibase-item\"}]},\"snaks-order\":[\"P143\"]}]}],\"P434\":[{\"mainsnak\":{\"snaktype\":\"value\",\"property\":\"P434\",\"hash\":\"070c0ed8926559c75a3aa160113102877b381b00\",\"datavalue\":{\"value\":\"76325a9d-6c25-4649-96b1-84e9b99d6b4b\",\"type\":\"string\"},\"datatype\":\"external-id\"},\"type\":\"statement\",\"id\":\"q180727$77F82EE3-B5E1-40AA-96AA-B3E2F0FD42F0\",\"rank\":\"normal\",\"references\":[{\"hash\":\"706208b3024200fd0a39ad499808dd0d98d74065\",\"snaks\":{\"P248\":[{\"snaktype\":\"value\",\"property\":\"P248\",\"hash\":\"623cc8f0e2f65afe4d66b91962d354a2f3aa9a27\",\"datavalue\":{\"value\":{\"entity-type\":\"item\",\"numeric-id\":14005,\"id\":\"Q14005\"},\"type\":\"wikibase-entityid\"},\"datatype\":\"wikibase-item\"}]},\"snaks-order\":[\"P248\"]}]}],\"P244\":[{\"mainsnak\":{\"snaktype\":\"value\",\"property\":\"P244\",\"hash\":\"63fa395c51cec78c4642b353248e2a1523f23235\",\"datavalue\":{\"value\":\"n50032828\",\"type\":\"string\"},\"datatype\":\"external-id\"},\"type\":\"statement\",\"id\":\"q180727$07483AE0-E463-4CE7-ACAD-BF58D7E6822C\",\"rank\":\"normal\",\"references\":[{\"hash\":\"9a24f7c0208b05d6be97077d855671d1dfdbc0dd\",\"snaks\":{\"P143\":[{\"snaktype\":\"value\",\"property\":\"P143\",\"hash\":\"d38375ffe6fe142663ff55cd783aa4df4301d83d\",\"datavalue\":{\"value\":{\"entity-type\":\"item\",\"numeric-id\":48183,\"id\":\"Q48183\"},\"type\":\"wikibase-entityid\"},\"datatype\":\"wikibase-item\"}]},\"snaks-order\":[\"P143\"]}]}],\"P227\":[{\"mainsnak\":{\"snaktype\":\"value\",\"property\":\"P227\",\"hash\":\"eba9c19edb757448d6a06e46715d7460c4772b90\",\"datavalue\":{\"value\":\"118518291\",\"type\":\"string\"},\"datatype\":\"external-id\"},\"type\":\"statement\",\"id\":\"q180727$CA63E7A7-F52F-4BFC-A89F-C64995C469CC\",\"rank\":\"normal\",\"references\":[{\"hash\":\"9a24f7c0208b05d6be97077d855671d1dfdbc0dd\",\"snaks\":{\"P143\":[{\"snaktype\":\"value\",\"property\":\"P143\",\"hash\":\"d38375ffe6fe142663ff55cd783aa4df4301d83d\",\"datavalue\":{\"value\":{\"entity-type\":\"item\",\"numeric-id\":48183,\"id\":\"Q48183\"},\"type\":\"wikibase-entityid\"},\"datatype\":\"wikibase-item\"}]},\"snaks-order\":[\"P143\"]}]}],\"P19\":[{\"mainsnak\":{\"snaktype\":\"value\",\"property\":\"P19\",\"hash\":\"615d26e8551f02a673f56e53bfc8c34bf2d32189\",\"datavalue\":{\"value\":{\"entity-type\":\"item\",\"numeric-id\":65,\"id\":\"Q65\"},\"type\":\"wikibase-entityid\"},\"datatype\":\"wikibase-item\"},\"type\":\"statement\",\"qualifiers\":{\"P17\":[{\"snaktype\":\"value\",\"property\":\"P17\",\"hash\":\"be4c6eafa2984964f04be85667263f5642ba1a72\",\"datavalue\":{\"value\":{\"entity-type\":\"item\",\"numeric-id\":30,\"id\":\"Q30\"},\"type\":\"wikibase-entityid\"},\"datatype\":\"wikibase-item\"}]},\"qualifiers-order\":[\"P17\"],\"id\":\"q180727$8e32dabe-495f-63a4-f3e4-a2e7d11042a9\",\"rank\":\"normal\",\"references\":[{\"hash\":\"9a24f7c0208b05d6be97077d855671d1dfdbc0dd\",\"snaks\":{\"P143\":[{\"snaktype\":\"value\",\"property\":\"P143\",\"hash\":\"d38375ffe6fe142663ff55cd783aa4df4301d83d\",\"datavalue\":{\"value\":{\"entity-type\":\"item\",\"numeric-id\":48183,\"id\":\"Q48183\"},\"type\":\"wikibase-entityid\"},\"datatype\":\"wikibase-item\"}]},\"snaks-order\":[\"P143\"]},{\"hash\":\"332d162d365fc309135025684aa893bfe39caf21\",\"snaks\":{\"P248\":[{\"snaktype\":\"value\",\"property\":\"P248\",\"hash\":\"019a50b7de741e0068bde41c9d9955b22a5de47b\",\"datavalue\":{\"value\":{\"entity-type\":\"item\",\"numeric-id\":36578,\"id\":\"Q36578\"},\"type\":\"wikibase-entityid\"},\"datatype\":\"wikibase-item\"}],\"P813\":[{\"snaktype\":\"value\",\"property\":\"P813\",\"hash\":\"d251681e39d4516553db1c0299a282a8c07b929b\",\"datavalue\":{\"value\":{\"time\":\"+2014-12-11T00:00:00Z\",\"timezone\":0,\"before\":0,\"after\":0,\"precision\":11,\"calendarmodel\":\"http://www.wikidata.org/entity/Q1985727\"},\"type\":\"time\"},\"datatype\":\"time\"}]},\"snaks-order\":[\"P248\",\"P813\"]}]}],\"P20\":[{\"mainsnak\":{\"snaktype\":\"value\",\"property\":\"P20\",\"hash\":\"63093b09a0cfd1e60bdeb5c47da2a67fe3579183\",\"datavalue\":{\"value\":{\"entity-type\":\"item\",\"numeric-id\":60,\"id\":\"Q60\"},\"type\":\"wikibase-entityid\"},\"datatype\":\"wikibase-item\"},\"type\":\"statement\",\"qualifiers\":{\"P17\":[{\"snaktype\":\"value\",\"property\":\"P17\",\"hash\":\"be4c6eafa2984964f04be85667263f5642ba1a72\",\"datavalue\":{\"value\":{\"entity-type\":\"item\",\"numeric-id\":30,\"id\":\"Q30\"},\"typ[...]
