{
  "log": {
    "_recordingName": "wd-entity/wd-entity label display/can display label for property",
    "browser": {
      "name": "Chrome",
      "version": "76.0.3809.132"
    },
    "creator": {
      "comment": "persister:rest",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "5c749ccfc6e46e71bdae0001b099a8e7",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "action",
              "value": "wbgetentities"
            },
            {
              "name": "ids",
              "value": "P735"
            },
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "https://www.wikidata.org/w/api.php?action=wbgetentities&ids=P735&format=json&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 62243,
            "text": "{\"entities\":{\"P735\":{\"pageid\":16066975,\"ns\":120,\"title\":\"Property:P735\",\"lastrevid\":1011888602,\"modified\":\"2019-09-11T22:49:20Z\",\"type\":\"property\",\"datatype\":\"wikibase-item\",\"id\":\"P735\",\"labels\":{\"en\":{\"language\":\"en\",\"value\":\"given name\"},\"de\":{\"language\":\"de\",\"value\":\"Vorname\"},\"cs\":{\"language\":\"cs\",\"value\":\"rodn\\u00e9 jm\\u00e9no\"},\"fa\":{\"language\":\"fa\",\"value\":\"\\u0646\\u0627\\u0645 \\u06a9\\u0648\\u0686\\u06a9 \\u0634\\u062e\\u0635\"},\"ca\":{\"language\":\"ca\",\"value\":\"nom de pila\"},\"fr\":{\"language\":\"fr\",\"value\":\"pr\\u00e9nom\"},\"pl\":{\"language\":\"pl\",\"value\":\"imi\\u0119\"},\"ru\":{\"language\":\"ru\",\"value\":\"\\u043b\\u0438\\u0447\\u043d\\u043e\\u0435 \\u0438\\u043c\\u044f\"},\"be\":{\"language\":\"be\",\"value\":\"\\u0456\\u043c\\u044f\"},\"sv\":{\"language\":\"sv\",\"value\":\"f\\u00f6rnamn\"},\"hu\":{\"language\":\"hu\",\"value\":\"ut\\u00f3n\\u00e9v\"},\"pt\":{\"language\":\"pt\",\"value\":\"primeiro nome\"},\"nl\":{\"language\":\"nl\",\"value\":\"voornaam\"},\"el\":{\"language\":\"el\",\"value\":\"\\u03bc\\u03b9\\u03ba\\u03c1\\u03cc \\u03cc\\u03bd\\u03bf\\u03bc\\u03b1\"},\"fi\":{\"language\":\"fi\",\"value\":\"etunimi\"},\"sr\":{\"language\":\"sr\",\"value\":\"\\u043b\\u0438\\u0447\\u043d\\u043e \\u0438\\u043c\\u0435\"},\"sr-ec\":{\"language\":\"sr-ec\",\"value\":\"\\u0438\\u043c\\u0435\"},\"sr-el\":{\"language\":\"sr-el\",\"value\":\"ime\"},\"hr\":{\"language\":\"hr\",\"value\":\"ime\"},\"pt-br\":{\"language\":\"pt-br\",\"value\":\"primeiro nome\"},\"it\":{\"language\":\"it\",\"value\":\"prenome\"},\"da\":{\"language\":\"da\",\"value\":\"fornavn\"},\"vi\":{\"language\":\"vi\",\"value\":\"t\\u00ean\"},\"ko\":{\"language\":\"ko\",\"value\":\"\\uc774\\ub984\"},\"be-tarask\":{\"language\":\"be-tarask\",\"value\":\"\\u0443\\u043b\\u0430\\u0441\\u043d\\u0430\\u0435 \\u0456\\u043c\\u044f\"},\"mk\":{\"language\":\"mk\",\"value\":\"\\u043b\\u0438\\u0447\\u043d\\u043e \\u0438\\u043c\\u0435\"},\"oc\":{\"language\":\"oc\",\"value\":\"pichon  nom\"},\"zh-hans\":{\"language\":\"zh-hans\",\"value\":\"\\u540d\\u5b57\"},\"nb\":{\"language\":\"nb\",\"value\":\"fornavn\"},\"nds\":{\"language\":\"nds\",\"value\":\"V\\u00f6rnaam\"},\"he\":{\"language\":\"he\",\"value\":\"\\u05e9\\u05dd \\u05e4\\u05e8\\u05d8\\u05d9\"},\"es\":{\"language\":\"es\",\"value\":\"nombre de pila\"},\"ja\":{\"language\":\"ja\",\"value\":\"\\u540d\"},\"nn\":{\"language\":\"nn\",\"value\":\"f\\u00f8renamn\"},\"ms\":{\"language\":\"ms\",\"value\":\"nama berian\"},\"zh-hk\":{\"language\":\"zh-hk\",\"value\":\"\\u540d\\u5b57\"},\"ta\":{\"language\":\"ta\",\"value\":\"\\u0bae\\u0bc1\\u0ba4\\u0bb2\\u0bcd \\u0baa\\u0bc6\\u0baf\\u0bb0\\u0bcd\"},\"eo\":{\"language\":\"eo\",\"value\":\"anta\\u016dnomo\"},\"zh\":{\"language\":\"zh\",\"value\":\"\\u540d\\u5b57\"},\"zh-cn\":{\"language\":\"zh-cn\",\"value\":\"\\u540d\\u5b57\"},\"yue\":{\"language\":\"yue\",\"value\":\"\\u540d\"},\"id\":{\"language\":\"id\",\"value\":\"nama pemberian\"},\"sk\":{\"language\":\"sk\",\"value\":\"krstn\\u00e9 meno\"},\"en-gb\":{\"language\":\"en-gb\",\"value\":\"given name\"},\"bs\":{\"language\":\"bs\",\"value\":\"ime\"},\"sco\":{\"language\":\"sco\",\"value\":\"gien name\"},\"lv\":{\"language\":\"lv\",\"value\":\"v\\u0101rds\"},\"gl\":{\"language\":\"gl\",\"value\":\"nome propio\"},\"zh-tw\":{\"language\":\"zh-tw\",\"value\":\"\\u540d\\u5b57\"},\"sl\":{\"language\":\"sl\",\"value\":\"ime\"},\"uk\":{\"language\":\"uk\",\"value\":\"\\u043e\\u0441\\u043e\\u0431\\u043e\\u0432\\u0435 \\u0456\\u043c'\\u044f\"},\"zh-hant\":{\"language\":\"zh-hant\",\"value\":\"\\u540d\\u5b57\"},\"tr\":{\"language\":\"tr\",\"value\":\"ad\\u0131\"},\"eu\":{\"language\":\"eu\",\"value\":\"bataio-izena\"},\"en-ca\":{\"language\":\"en-ca\",\"value\":\"given name\"},\"scn\":{\"language\":\"scn\",\"value\":\"nomu\"},\"gu\":{\"language\":\"gu\",\"value\":\"\\u0a85\\u0aaa\\u0abe\\u0aaf\\u0ac7\\u0ab2 \\u0aa8\\u0abe\\u0aae\"},\"is\":{\"language\":\"is\",\"value\":\"Fyrsta nafn\"},\"gsw\":{\"language\":\"gsw\",\"value\":\"Vorname\"},\"ka\":{\"language\":\"ka\",\"value\":\"\\u10e1\\u10d0\\u10ee\\u10d4\\u10da\\u10d8\"},\"rm\":{\"language\":\"rm\",\"value\":\"prenum\"},\"mg\":{\"language\":\"mg\",\"value\":\"fanampin'anarana\"},\"ro\":{\"language\":\"ro\",\"value\":\"prenume\"},\"ce\":{\"language\":\"ce\",\"value\":\"\\u0446\\u04c0\\u0435\"},\"br\":{\"language\":\"br\",\"value\":\"anv-badez\"},\"ne\":{\"language\":\"ne\",\"value\":\"\\u092c\\u094b\\u0932\\u093e\\u0909\\u0928\\u0947 \\u0928\\u093e\\u092e\"},\"cy\":{\"language\":\"cy\",\"value\":\"enw cyntaf\"},\"hy\":{\"language\":\"hy\",\"value\":\"\\u0561\\u0576\\u0571\\u0576\\u0561\\u0576\\u0578\\u0582\\u0576\"},\"ml\":{\"language\":\"ml\",\"value\":\"\\u0d12\\u0d28\\u0d4d\\u0d28\\u0d3e\\u0d02 \\u0d2a\\u0d47\\u0d30\\u0d4d\"},\"lb\":{\"language\":\"lb\",\"value\":\"Virnumm\"},\"et\":{\"language\":\"et\",\"value\":\"eesnimi\"},\"ar\":{\"language\":\"ar\",\"value\":\"\\u0627\\u0644\\u0627\\u0633\\u0645  \\u0627\\u0644\\u0623\\u0648\\u0644\"},\"ilo\":{\"language\":\"ilo\",\"value\":\"nagan\"},\"lt\":{\"language\":\"lt\",\"value\":\"vardas\"},\"ast\":{\"language\":\"ast\",\"value\":\"nome\"},\"bg\":{\"language\":\"bg\",\"value\":\"\\u0441\\u043e\\u0431\\u0441\\u0442\\u0432\\u0435\\u043d\\u043e \\u0438\\u043c\\u0435\"},\"bn\":{\"language\":\"bn\",\"value\":\"\\u09aa\\u09cd\\u09b0\\u09a6\\u09a4\\u09cd\\u09a4 \\u09a8\\u09be\\u09ae\"},\"ps\":{\"language\":\"ps\",\"value\":\"\\u0644\\u0648\\u0645\\u0693\\u06cc \\u0646\\u0648\\u0645\"},\"bar\":{\"language\":\"bar\",\"value\":\"Vorname\"},\"de-at\":{\"language\":\"de-at\",\"value\":\"Vorname\"},\"de-ch\":{\"language\":\"de-ch\",\"value\":\"Vorname\"},\"ga\":{\"language\":\"ga\",\"value\":\"c\\u00e9adainm\"},\"kn\":{\"language\":\"kn\",\"value\":\"\\u0cae\\u0ca4\\u0ccd\\u0ca4\\u0cca\\u0c82\\u0ca6\\u0cc1 \\u0cb9\\u0cc6\\u0cb8\\u0cb0\\u0cc1\"},\"or\":{\"language\":\"or\",\"value\":\"\\u0b2a\\u0b4d\\u0b30\\u0b25\\u0b2e \\u0b28\\u0b3e\\u0b2e\"},\"th\":{\"language\":\"th\",\"value\":\"\\u0e0a\\u0e37\\u0e48\\u0e2d\\u0e15\\u0e49\\u0e19\"},\"ku-latn\":{\"language\":\"ku-latn\",\"value\":\"p\\u00ea\\u015fnav\"},\"tg\":{\"language\":\"tg\",\"value\":\"\\u043d\\u043e\\u043c\\u0438 \\u0448\\u0430\\u0445\\u0441\\u04e3\"},\"zh-mo\":{\"language\":\"zh-mo\",\"value\":\"\\u540d\\u5b57\"},\"zh-my\":{\"language\":\"zh-my\",\"value\":\"\\u540d\\u5b57\"},\"zh-sg\":{\"language\":\"zh-sg\",\"value\":\"\\u540d\\u5b57\"},\"se\":{\"language\":\"se\",\"value\":\"ovdanamma\"},\"sma\":{\"language\":\"sma\",\"value\":\"\\u00e5vtenomme\"},\"pam\":{\"language\":\"pam\",\"value\":\"biniyeng lagyu\"},\"tl\":{\"language\":\"tl\",\"value\":\"binigay na pangalan\"},\"ur\":{\"language\":\"ur\",\"value\":\"\\u0630\\u0627\\u062a\\u06cc \\u0646\\u0627\\u0645\"},\"hsb\":{\"language\":\"hsb\",\"value\":\"p\\u0159edmjeno\"},\"ba\":{\"language\":\"ba\",\"value\":\"\\u0448\\u04d9\\u0445\\u0441\\u0438 \\u0438\\u0441\\u0435\\u043c\\u0435\"},\"yo\":{\"language\":\"yo\",\"value\":\"or\\u00fak\\u1ecd \\u00e0b\\u00eds\\u1ecd\"},\"sq\":{\"language\":\"sq\",\"value\":\"emri\"},\"tg-cyrl\":{\"language\":\"tg-cyrl\",\"value\":\"\\u043d\\u043e\\u043c\\u0438 \\u0448\\u0430\\u0445\\u0441\\u04e3\"},\"yi\":{\"language\":\"yi\",\"value\":\"\\u05e4\\u05e2\\u05e8\\u05d6\\u05e2\\u05e0\\u05dc\\u05e2\\u05db\\u05e2\\u05e8 \\u05e0\\u05d0\\u05de\\u05e2\\u05df\"},\"te\":{\"language\":\"te\",\"value\":\"\\u0c2a\\u0c46\\u0c1f\\u0c4d\\u0c1f\\u0c3f\\u0c28 \\u0c2a\\u0c47\\u0c30\\u0c41\"},\"frr\":{\"language\":\"frr\",\"value\":\"f\\u00f6\\u00f6rn\\u00f6\\u00f6m\"},\"pa\":{\"language\":\"pa\",\"value\":\"\\u0a26\\u0a3f\\u0a71\\u0a24\\u0a3e \\u0a17\\u0a3f\\u0a06 \\u0a28\\u0a3e\\u0a2e\"},\"hi\":{\"language\":\"hi\",\"value\":\"\\u0926\\u093f\\u092f\\u093e \\u0917\\u092f\\u093e \\u0928\\u093e\\u092e\"},\"az\":{\"language\":\"az\",\"value\":\"\\u015f\\u0259xs ad\\u0131\"},\"fo\":{\"language\":\"fo\",\"value\":\"fornavn\"},\"sd\":{\"language\":\"sd\",\"value\":\"\\u0630\\u0627\\u062a\\u064a \\u0646\\u0627\\u0644\\u0648\"},\"ts\":{\"language\":\"ts\",\"value\":\"vito ronyikiwa\"},\"mr\":{\"language\":\"mr\",\"value\":\"\\u0926\\u093f\\u0932\\u0947\\u0932\\u0947 \\u0928\\u093e\\u0935\"},\"olo\":{\"language\":\"olo\",\"value\":\"nimi\"},\"ha\":{\"language\":\"ha\",\"value\":\"suna\"},\"xh\":{\"language\":\"xh\",\"value\":\"igama athiwe lona\"},\"atj\":{\"language\":\"atj\",\"value\":\"e icinikasotc\"},\"gd\":{\"language\":\"gd\",\"value\":\"ainm\"},\"af\":{\"language\":\"af\",\"value\":\"Gegewe naam\"},\"hyw\":{\"language\":\"hyw\",\"value\":\"\\u0561\\u0576\\u0571\\u0576\\u0561\\u0576\\u0578\\u0582\\u0576\"},\"la\":{\"language\":\"la\",\"value\":\"praenomen\"},\"am\":{\"language\":\"am\",\"value\":\"\\u1218\\u1320\\u122a\\u12eb \\u1235\\u121d\"},\"diq\":{\"language\":\"diq\",\"value\":\"Nameyo \\u015fe\\u011fsi\"},\"jv\":{\"language\":\"jv\",\"value\":\"jeneng w\\u00e8w\\u00e8han\"}},\"descriptions\":{\"en\":{\"language\":\"en\",\"value\":\"first name or another given name of this person; values used with the property shouldn't link disambiguations nor family names\"},\"fa\":{\"language\":\"fa\",\"value\":\"\\u0646\\u0627\\u0645\\u06cc \\u06a9\\u0647 \\u0628\\u0631\\u0627\\u06cc \\u0635\\u062f\\u0627 \\u0632\\u062f\\u0646 \\u0648 \\u062e\\u0637\\u0627\\u0628 \\u06a9\\u0631\\u062f\\u0646 \\u0627\\u0634\\u062e\\u0627\\u0635 \\u0628\\u0631\\u0627\\u06cc \\u0647\\u0631 \\u0641\\u0631\\u062f \\u0[...]
