{
  "log": {
    "_recordingName": "wd-entity/wd-entity render description /can render when have a description attribute and japanese lang",
    "browser": {
      "name": "Chrome",
      "version": "76.0.3809.132"
    },
    "creator": {
      "comment": "persister:rest",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "7712a5431b3885a2b2cbd9d6ed2ef799",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "action",
              "value": "wbgetentities"
            },
            {
              "name": "ids",
              "value": "Q1299"
            },
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "https://www.wikidata.org/w/api.php?action=wbgetentities&ids=Q1299&format=json&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 122079,
            "text": "{\"entities\":{\"Q1299\":{\"pageid\":1683,\"ns\":0,\"title\":\"Q1299\",\"lastrevid\":1011940092,\"modified\":\"2019-09-12T00:51:19Z\",\"type\":\"item\",\"id\":\"Q1299\",\"labels\":{\"it\":{\"language\":\"it\",\"value\":\"The Beatles\"},\"es\":{\"language\":\"es\",\"value\":\"The Beatles\"},\"fr\":{\"language\":\"fr\",\"value\":\"The Beatles\"},\"nb\":{\"language\":\"nb\",\"value\":\"The Beatles\"},\"en\":{\"language\":\"en\",\"value\":\"The Beatles\"},\"pl\":{\"language\":\"pl\",\"value\":\"The Beatles\"},\"ilo\":{\"language\":\"ilo\",\"value\":\"The Beatles\"},\"de\":{\"language\":\"de\",\"value\":\"The Beatles\"},\"eo\":{\"language\":\"eo\",\"value\":\"The Beatles\"},\"cs\":{\"language\":\"cs\",\"value\":\"The Beatles\"},\"ca\":{\"language\":\"ca\",\"value\":\"The Beatles\"},\"ru\":{\"language\":\"ru\",\"value\":\"The Beatles\"},\"nl\":{\"language\":\"nl\",\"value\":\"The Beatles\"},\"ja\":{\"language\":\"ja\",\"value\":\"\\u30d3\\u30fc\\u30c8\\u30eb\\u30ba\"},\"pt\":{\"language\":\"pt\",\"value\":\"The Beatles\"},\"scn\":{\"language\":\"scn\",\"value\":\"The Beatles\"},\"la\":{\"language\":\"la\",\"value\":\"The Beatles\"},\"lv\":{\"language\":\"lv\",\"value\":\"The Beatles\"},\"ms\":{\"language\":\"ms\",\"value\":\"The Beatles\"},\"sq\":{\"language\":\"sq\",\"value\":\"The Beatles\"},\"mk\":{\"language\":\"mk\",\"value\":\"\\u0411\\u0438\\u0442\\u043b\\u0441\\u0438\"},\"zh\":{\"language\":\"zh\",\"value\":\"\\u62ab\\u982d\\u58eb\\u6a02\\u968a\"},\"he\":{\"language\":\"he\",\"value\":\"\\u05d4\\u05d1\\u05d9\\u05d8\\u05dc\\u05e1\"},\"sl\":{\"language\":\"sl\",\"value\":\"The Beatles\"},\"sk\":{\"language\":\"sk\",\"value\":\"The Beatles\"},\"vi\":{\"language\":\"vi\",\"value\":\"The Beatles\"},\"sv\":{\"language\":\"sv\",\"value\":\"The Beatles\"},\"uk\":{\"language\":\"uk\",\"value\":\"The Beatles\"},\"fi\":{\"language\":\"fi\",\"value\":\"The Beatles\"},\"hu\":{\"language\":\"hu\",\"value\":\"The Beatles\"},\"ro\":{\"language\":\"ro\",\"value\":\"The Beatles\"},\"ko\":{\"language\":\"ko\",\"value\":\"\\ube44\\ud2c0\\uc988\"},\"an\":{\"language\":\"an\",\"value\":\"The Beatles\"},\"tr\":{\"language\":\"tr\",\"value\":\"The Beatles\"},\"id\":{\"language\":\"id\",\"value\":\"The Beatles\"},\"nn\":{\"language\":\"nn\",\"value\":\"The Beatles\"},\"br\":{\"language\":\"br\",\"value\":\"The Beatles\"},\"af\":{\"language\":\"af\",\"value\":\"The Beatles\"},\"am\":{\"language\":\"am\",\"value\":\"\\u12d8 \\u1262\\u1270\\u120d\\u1235\"},\"ar\":{\"language\":\"ar\",\"value\":\"\\u0627\\u0644\\u0628\\u064a\\u062a\\u0644\\u0632\"},\"arz\":{\"language\":\"arz\",\"value\":\"\\u0628\\u064a\\u062a\\u064a\\u0644\\u0632\"},\"ast\":{\"language\":\"ast\",\"value\":\"The Beatles\"},\"az\":{\"language\":\"az\",\"value\":\"The Beatles\"},\"bar\":{\"language\":\"bar\",\"value\":\"The Beatles\"},\"be\":{\"language\":\"be\",\"value\":\"The Beatles\"},\"bg\":{\"language\":\"bg\",\"value\":\"\\u0411\\u0438\\u0439\\u0442\\u044a\\u043b\\u0441\"},\"bn\":{\"language\":\"bn\",\"value\":\"\\u09a6\\u09cd\\u09af \\u09ac\\u09bf\\u099f\\u09b2\\u09cd\\u200c\\u09b8\"},\"bs\":{\"language\":\"bs\",\"value\":\"The Beatles\"},\"ckb\":{\"language\":\"ckb\",\"value\":\"\\u0628\\u06cc\\u062a\\u06b5\\u0632\"},\"co\":{\"language\":\"co\",\"value\":\"The Beatles\"},\"cu\":{\"language\":\"cu\",\"value\":\"\\u0411\\u0438\\u0442\\u043b\\ua641\\u044a\"},\"cv\":{\"language\":\"cv\",\"value\":\"The Beatles\"},\"cy\":{\"language\":\"cy\",\"value\":\"The Beatles\"},\"da\":{\"language\":\"da\",\"value\":\"The Beatles\"},\"diq\":{\"language\":\"diq\",\"value\":\"The Beatles\"},\"el\":{\"language\":\"el\",\"value\":\"The Beatles\"},\"et\":{\"language\":\"et\",\"value\":\"The Beatles\"},\"eu\":{\"language\":\"eu\",\"value\":\"The Beatles\"},\"ext\":{\"language\":\"ext\",\"value\":\"The Beatles\"},\"fa\":{\"language\":\"fa\",\"value\":\"\\u0628\\u06cc\\u062a\\u0644\\u0632\"},\"fo\":{\"language\":\"fo\",\"value\":\"The Beatles\"},\"fur\":{\"language\":\"fur\",\"value\":\"The Beatles\"},\"fy\":{\"language\":\"fy\",\"value\":\"The Beatles\"},\"ga\":{\"language\":\"ga\",\"value\":\"The Beatles\"},\"gan\":{\"language\":\"gan\",\"value\":\"\\u62ab\\u982d\\u58eb\"},\"gd\":{\"language\":\"gd\",\"value\":\"The Beatles\"},\"gl\":{\"language\":\"gl\",\"value\":\"The Beatles\"},\"gv\":{\"language\":\"gv\",\"value\":\"The Beatles\"},\"hi\":{\"language\":\"hi\",\"value\":\"\\u0926 \\u092c\\u0940\\u091f\\u0932\\u094d\\u0938\"},\"hif\":{\"language\":\"hif\",\"value\":\"The Beatles\"},\"hr\":{\"language\":\"hr\",\"value\":\"The Beatles\"},\"ht\":{\"language\":\"ht\",\"value\":\"The Beatles\"},\"hy\":{\"language\":\"hy\",\"value\":\"The Beatles\"},\"ia\":{\"language\":\"ia\",\"value\":\"The Beatles\"},\"ie\":{\"language\":\"ie\",\"value\":\"The Beatles\"},\"io\":{\"language\":\"io\",\"value\":\"The Beatles\"},\"is\":{\"language\":\"is\",\"value\":\"B\\u00edtlarnir\"},\"jv\":{\"language\":\"jv\",\"value\":\"The Beatles\"},\"ka\":{\"language\":\"ka\",\"value\":\"The Beatles\"},\"kaa\":{\"language\":\"kaa\",\"value\":\"The Beatles\"},\"kk\":{\"language\":\"kk\",\"value\":\"The Beatles\"},\"kn\":{\"language\":\"kn\",\"value\":\"\\u0ca6\\u0cbf \\u0cac\\u0cc0\\u0c9f\\u0cb2\\u0ccd\\u0cb8\\u0ccd\"},\"ku\":{\"language\":\"ku\",\"value\":\"The Beatles\"},\"ky\":{\"language\":\"ky\",\"value\":\"Beatles\"},\"lb\":{\"language\":\"lb\",\"value\":\"The Beatles\"},\"lez\":{\"language\":\"lez\",\"value\":\"The Beatles\"},\"li\":{\"language\":\"li\",\"value\":\"The Beatles\"},\"lij\":{\"language\":\"lij\",\"value\":\"The Beatles\"},\"lmo\":{\"language\":\"lmo\",\"value\":\"The Beatles\"},\"lt\":{\"language\":\"lt\",\"value\":\"The Beatles\"},\"mg\":{\"language\":\"mg\",\"value\":\"The Beatles\"},\"ml\":{\"language\":\"ml\",\"value\":\"\\u0d26\\u0d3f \\u0d2c\\u0d40\\u0d31\\u0d4d\\u0d31\\u0d3f\\u0d7d\\u0d38\\u0d4d\"},\"mn\":{\"language\":\"mn\",\"value\":\"The Beatles\"},\"mr\":{\"language\":\"mr\",\"value\":\"\\u092c\\u0940\\u091f\\u0932\\u094d\\u0938\"},\"mrj\":{\"language\":\"mrj\",\"value\":\"The Beatles\"},\"mt\":{\"language\":\"mt\",\"value\":\"The Beatles\"},\"mwl\":{\"language\":\"mwl\",\"value\":\"The Beatles\"},\"my\":{\"language\":\"my\",\"value\":\"\\u1018\\u102e\\u1038\\u1010\\u1032\\u101c\\u103a\\u1021\\u1016\\u103d\\u1032\\u1037\"},\"mzn\":{\"language\":\"mzn\",\"value\":\"\\u0628\\u06cc\\u062a\\u0644\\u0632\"},\"na\":{\"language\":\"na\",\"value\":\"The Beatles\"},\"nah\":{\"language\":\"nah\",\"value\":\"The Beatles\"},\"nap\":{\"language\":\"nap\",\"value\":\"The Beatles\"},\"nds\":{\"language\":\"nds\",\"value\":\"The Beatles\"},\"ne\":{\"language\":\"ne\",\"value\":\"\\u092c\\u0940\\u091f\\u0932\\u094d\\u0938\"},\"new\":{\"language\":\"new\",\"value\":\"\\u0926 \\u092c\\u093f\\u091f\\u0932\\u094d\\u0938\"},\"oc\":{\"language\":\"oc\",\"value\":\"The Beatles\"},\"os\":{\"language\":\"os\",\"value\":\"\\u0411\\u0438\\u0442\\u043b\\u0437\"},\"pag\":{\"language\":\"pag\",\"value\":\"The Beatles\"},\"pam\":{\"language\":\"pam\",\"value\":\"The Beatles\"},\"pap\":{\"language\":\"pap\",\"value\":\"The Beatles\"},\"pms\":{\"language\":\"pms\",\"value\":\"The Beatles\"},\"pnb\":{\"language\":\"pnb\",\"value\":\"\\u0628\\u06cc\\u0679\\u0644\\u0632\"},\"qu\":{\"language\":\"qu\",\"value\":\"The Beatles\"},\"rue\":{\"language\":\"rue\",\"value\":\"The Beatles\"},\"sah\":{\"language\":\"sah\",\"value\":\"The Beatles\"},\"sc\":{\"language\":\"sc\",\"value\":\"The Beatles\"},\"sco\":{\"language\":\"sco\",\"value\":\"The Beatles\"},\"sh\":{\"language\":\"sh\",\"value\":\"The Beatles\"},\"sr\":{\"language\":\"sr\",\"value\":\"\\u0411\\u0438\\u0442\\u043b\\u0441\\u0438\"},\"su\":{\"language\":\"su\",\"value\":\"The Beatles\"},\"sw\":{\"language\":\"sw\",\"value\":\"The Beatles\"},\"szl\":{\"language\":\"szl\",\"value\":\"The Beatles\"},\"ta\":{\"language\":\"ta\",\"value\":\"\\u0baa\\u0bc0\\u0b9f\\u0bcd\\u0b9f\\u0bbf\\u0bb2\\u0bcd\\u0bb8\\u0bcd\"},\"te\":{\"language\":\"te\",\"value\":\"\\u0c26 \\u0c2c\\u0c40\\u0c1f\\u0c3f\\u0c32\\u0c4d\\u0c38\\u0c4d\"},\"th\":{\"language\":\"th\",\"value\":\"\\u0e40\\u0e14\\u0e2d\\u0e30\\u0e1a\\u0e35\\u0e40\\u0e17\\u0e34\\u0e25\\u0e2a\\u0e4c\"},\"tl\":{\"language\":\"tl\",\"value\":\"The Beatles\"},\"tt\":{\"language\":\"tt\",\"value\":\"The Beatles\"},\"ur\":{\"language\":\"ur\",\"value\":\"\\u0628\\u06cc\\u0679\\u0644\\u0632\"},\"uz\":{\"language\":\"uz\",\"value\":\"The Beatles\"},\"vec\":{\"language\":\"vec\",\"value\":\"The Beatles\"},\"vep\":{\"language\":\"vep\",\"value\":\"The Beatles\"},\"vo\":{\"language\":\"vo\",\"value\":\"The Beatles\"},\"wa\":{\"language\":\"wa\",\"value\":\"Beatles\"},\"war\":{\"language\":\"war\",\"value\":\"The Beatles\"},\"xmf\":{\"language\":\"xmf\",\"value\":\"\\u10d1\\u10d8\\u10d7\\u10da\\u10d6\\u10d8\"},\"yi\":{\"language\":\"yi\",\"value\":\"\\u05d3\\u05d9 \\u05d1\\u05d9\\u05d8\\u05e2\\u05dc\\u05e1\"},\"yo\":{\"language\":\"yo\",\"value\":\"The Beatles\"},\"zu\":{\"language\":\"zu\",\"value\":\"Ama-Beatles\"},\"en-ca\":{\"language\":\"en-ca\",\"value\":\"The Beatles\"},\"en-gb\":{\"language\":\"en-gb\",\"value\":\"The Beatles\"},\"pt-br\":{\"language\":\"pt-br\",\"value\":\"The Beatles\"},\"yue\":{\"language\":\"yue\",\"value\":\"\\u62ab\\u982d\\u56db\"},\"de-ch\":{\"language\":\"de-ch\",\"value\":\"The Beatles\"},\"hsb\":{\"language\":\"hsb\",\"value\":\"The Beatles\"},\"ba\":{\"language\":\"ba\",\"value\":\"The Beatles\"},\"ang\":{\"language\":\"ang\",\"value\":\"The Beatles\"},\"gu\":{\"language\":\"gu\",\"value\":\"\\u0aa7 \\u0aac\\u0abf\\u0a9f\\u0ab2\\u0acd\\u0ab8\"},\"dsb\":{\"language\":\"dsb\",\"value\":\"The Beatles\"},\"gsw\":{\"language\":\"gsw\",\"value\":\"The Beatles\"},\"sgs\":{\"language\":\"sgs\",\"value\":\"The Beatles\"},\"nan\":{\"language\":\"nan\",\"value\":\"The Beatles\"},\"be-tarask\":{\"language\":\"be-tarask\",\"value\":\"The Beatles\"},\"vro\":{\"language\":\"vro\",\"value\":\"The Beatles\"},\"sr-ec\":{\"language\":\"sr-ec\",\"value\":\"\\u0411\\u0438\\u0442\\u043b\\u0441\\u0438\"},\"sr-el\":{\"language\":\"sr-el\",\"value\":\"Bitlsi\"},\"pa\":{\"language\":\"pa\",\"value\":\"\\u0a2c\\u0a40\\u0a1f\\u0a32\\u0a38\"},\"mhr\":{\"language\":\"mhr\",\"value\":\"The Beatles\"},\"ce\":{\"language\":\"ce\",\"value\":\"The Beatles\"},\"zh-tw\":{\"language\":\"zh-tw\",\"value\":\"\\u62ab\\u982d\\u56db\\u6a02\\u968a\"},\"zh-hk\":{\"language\":\"zh-hk\",\"value\":\"\\u62ab\\u982d\\u56db\\u6a02\\u968a\"},\"zh-cn\":{\"language\":\"zh-cn\",\"value\":\"\\u62ab\\u5934\\u58eb\\u4e50\\u961f\"},\"bxr\":{\"language\":\"bxr\",\"value\":\"The Beatles\"},\"nds-nl\":{\"language\":\"nds-nl\",\"value\":\"The Beatles\"},\"pcd\":{\"language\":\"pcd\",\"value\":\"The Beatles\"},\"haw\":{\"language\":\"haw\",\"value\":\"The Beatles\"},\"jam\":{\"language\":\"jam\",\"value\":\"The Beatles\"},\"zh-hant\":{\"language\":\"zh-hant\",\"value\":\"\\u62ab\\u982d\\u56db\\u6a02\\u968a\"},\"zh-hans\":{\"language\":\"zh-hans\",\"value\":\"\\u62ab\\u5934\\u58eb\\u4e50\\u961f\"},\"zh-mo\":{\"language\":\"zh-mo\",\"value\":\"\\u62ab\\u982d\\u56db\\u6a02\\u968a\"},\"zh-my\":{\"language\":\"zh-my\",\"value\":\"\\u62ab\\u5934\\u58eb\\u4e50\\u961f\"},\"zh-sg\":{\"language\":\"zh-sg\",\"value\":\"\\u62ab\\u5934\\u58eb\\u4e50\\u961f\"},\"aa\":{\"language\":\"aa\",\"value\":\"The Beatles\"},\"ace\":{\"language\":\"ace\",\"value\":\"The Beatles\"},\"ak\":{\"language\":\"ak\",\"value\":\"The Beatles\"},\"ay\":{\"language\":\"ay\",\"value\":\"The Beatles\"},\"bcl\":{\"language\":\"bcl\",\"value\":\"The Beatles\"},\"bi\":{\"language\":\"bi\",\"value\":\"The Beatles\"},\"bjn\":{\"language\":\"bjn\",\"value\":\"The Beatles\"},\"bm\":{\"language\":\"bm\",\"value\":\"The Beatles\"},\"cbk-zam\":{\"language\":\"cbk-zam\",\"value\":\"The Beatles\"},\"cdo\":{\"language\":\"cdo\",\"value\":\"The Beatles\"},\"ceb\":{\"language\":\"ceb\",\"value\":\"The Beatles\"},\"ch\":{\"language\":\"ch\",\"value\":\"The Beatles\"},\"cho\":{\"language\":\"cho\",\"value\":\"The Beatles\"},\"chy\":{\"language\":\"chy\",\"value\":\"The Beatles\"},\"cr\":{\"language\":\"cr\",\"value\":\"The Beatles\"},\"crh-latn\":{\"language\":\"crh-latn\",\"value\":\"The Beatles\"},\"csb\":{\"language\":\"csb\",\"value\":\"The Beatles\"},\"de-at\":{\"language\":\"de-at\",\"value\":\"The Beatles\"},\"dtp\":{\"language\":\"dtp\",\"value\":\"The Beatles\"},\"ee\":{\"language\":\"ee\",\"value\":\"The Beatles\"},\"egl\":{\"language\":\"egl\",\"value\":\"The Beatles\"},\"eml\":{\"language\":\"eml\",\"value\":\"The Beatles\"},\"ff\":{\"language\":\"ff\",\"value\":\"The Beatles\"},\"fit\":{\"language\":\"fit\",\"value\":\"The Beatles\"},\"fj\":{\"language\":\"fj\",\"value\":\"The Beatles\"},\"frc\":{\"language\":\"frc\",\"value\":\"The Beatles\"},\"frp\":{\"language\":\"frp\",\"value\":\"The Beatles\"},\"frr\":{\"language\":\"frr\",\"value\":\"The Beatles\"},\"gag\":{\"language\":\"gag\",\"value\":\"The Beatles\"},\"gn\":{\"language\":\"gn\",\"value\":\"The Beatles\"},\"ha\":{\"language\":\"ha\",\"value\":\"The Beatles\"},\"hak\":{\"language\":\"hak\",\"value\":\"The Beatles\"},\"hif-latn\":{\"language\":\"hif-latn\",\"value\":\"The Beatles\"},\"hil\":{\"language\":\"hil\",\"value\":\"The Beatles\"},\"ho\":{\"language\":\"ho\",\"value\":\"The Beatles\"},\"hz\":{\"language\":\"hz\",\"value\":\"The Beatles\"},\"ig\":{\"language\":\"ig\",\"value\":\"The Beatles\"},\"ik\":{\"language\":\"ik\",\"value\":\"The Beatles\"},\"ike-latn\":{\"language\":\"ike-latn\",\"value\":\"The Beatles\"},\"jbo\":{\"language\":\"jbo\",\"value\":\"The Beatles\"},\"kab\":{\"language\":\"kab\",\"value\":\"The Beatles\"},\"kg\":{\"language\":\"kg\",\"value\":\"The Beatles\"},\"ki\":{\"language\":\"ki\",\"value\":\"The Beatles\"},\"kk-latn\":{\"language\":\"kk-latn\",\"value\":\"The Beatles\"},\"kk-tr\":{\"language\":\"kk-tr\",\"value\":\"The Beatles\"},\"ksh\":{\"language\":\"ksh\",\"value\":\"The Beatles\"},\"ku-latn\":{\"language\":\"ku-latn\",\"value\":\"The Beatles\"},\"lad\":{\"language\":\"lad\",\"value\":\"The Beatles\"},\"min\":{\"language\":\"min\",\"value\":\"The Beatles\"},\"nrm\":{\"language\":\"nrm\",\"value\":\"The Beatles\"},\"rm\":{\"language\":\"rm\",\"value\":\"The Beatles\"},\"rup\":{\"language\":\"rup\",\"value\":\"The Beatles\"},\"sn\":{\"language\":\"sn\",\"value\":\"The Beatles\"},\"tpi\":{\"language\":\"tpi\",\"value\":\"The Beatles\"},\"vls\":{\"language\":\"vls\",\"value\":\"The Beatles\"},\"wo\":{\"language\":\"wo\",\"value\":\"The Beatles\"},\"zea\":{\"language\":\"zea\",\"value\":\"The Beatles\"},\"mai\":{\"language\":\"mai\",\"value\":\"\\u092c\\u0940\\u091f\\u0932\\u094d\\u0938\"},\"bho\":{\"language\":\"bho\",\"value\":\"\\u092c\\u0940\\u091f\\u0932\\u094d\\u0938\"},\"olo\":{\"language\":\"olo\",\"value\":\"The Beatles\"},\"kbp\":{\"language\":\"kbp\",\"value\":\"The Beatles\"},\"wuu\":{\"language\":\"wuu\",\"value\":\"\\u76ae\\u982d\\u58eb\\u6a02\\u968a\"},\"myv\":{\"language\":\"myv\",\"value\":\"The Beatles\"},\"azb\":{\"language\":\"azb\",\"value\":\"\\u0628\\u06cc\\u062a\\u0644\\u0632\"}},\"descriptions\":{\"it\":{\"language\":\"it\",\"value\":\"gruppo musicale britannico\"},\"es\":{\"language\":\"es\",\"value\":\"banda de m\\u00fasica brit\\u00e1nica del rock\"},\"fr\":{\"language\":\"fr\",\"value\":\"groupe musical britannique de rock\"},\"nb\":{\"language\":\"nb\",\"value\":\"engelsk musikkgruppe\"},\"pl\":{\"language\":\"pl\",\"value\":\"angielski zesp\\u00f3\\u0142 muzyczny\"},\"ilo\":{\"language\":\"ilo\",\"value\":\"grupo dagiti musikero manipud ti Nagkaykaysa a Pagarian\"},\"ko\":{\"langu[...]
